.printable-content
  .initial-header
    .header-container
      .logo-container
        = image_tag "white_logo.png", style: "float:left;"
        = image_tag "white_tagline.png", style: "float:left;", id: "tagline"
      .user-icon
        %a{href: "#"}
          = image_tag "white_anon_user.png", style: "float:right;", html: { border: "0" }
      %ul.menu-top
        %li.menu-link= link_to 'LAUNCH', itinerary_path('john-muir-trail')
        %li.menu-link= link_to 'BUILD', new_itinerary_path
        %li.menu-link= link_to 'DREAM', "#"
  .moneyshot{ style: "background-image: url('#{image_path @data.moneyshot}')" }
    .photo-left-right
      .photo-left-right-control.left
        %a{href: "#"}
          = image_tag "blank.png"
      .photo-left-right-control.center
        = image_tag 'blank.png'
      .photo-left-right-control.right
        %a{href: "#"}
          = image_tag 'blank.png'
    .title-and-caption-wrap
      .title-and-caption-content
        %a{href: "#"}
          = image_tag 'down_bubble.png', html: { height: "55", src: "down_bubble.png", width: "55" }
        .moneyshot-title
          = @data.title
        |
        .moneyshot-duration= @data.duration
        .moneyshot-caption= "\"#{@data.subtitle}\""
  .persistent-header
    .header-container
      .logo-container
        = image_tag "black_logo.png"
      .header-title
        = @data.title
      .user-icon
        %a{href: "#"}
          = image_tag "black_anon_user.png"
      %ul.menu-top
        %li.menu-link.menu-link-build= link_to 'LAUNCH', itinerary_path('john-muir-trail')  
        %li.menu-link.menu-link-build= link_to 'BUILD', new_itinerary_path
        %li.menu-link.menu-link-build= link_to 'DREAM', "#"

  .body-container

    .overview
      .summary-map
        #map-overview{ style: 'height: 450px'}
        / #map-list{ data: { list: 'john-muir-trail' } }
        / .map-data{ id: "#{@slugged_title}-data", data: {markers: @marker_coordinates} }
        / .map{ id: "#{@slugged_title}-map" }
      .summary-wrap
        .user-circular{ style: "background-image:url(#{image_path @data.author_icon})"}
        .summary-author
          = "#{@data.trailblazer}, #{@data.trailblaze_date}"
        .summary-content
          = @data.summary_text
  
  - @data.legs.each_with_index do |leg, index|
    - if leg['arrival']
      .body-container
        .timeline-wrap
          .timeline-travel{ class: leg['arrival']['method']}
          .travel-info
            = "Arrive by #{leg['arrival']['method']}"
    .body-container{ class: zebra_class(index) }
      .timeline-wrap
        .timeline-cluster{ class: "no#{index + 1}" }
        .cluster-info
          %b Days HOW MANY: 
          NAME
        .itinerary-cluster-wrap{ class: zebra_class(index) }
          .cluster-map-expandible
            / #map-summary{ style: 'height: 500px'}
            .cluster-caption
              From {leg['days']['item'].first['name']} to {leg['name'].last}
        - leg['days'].compact.each_with_index do |day, index|
          .itinerary-content-date{ class: "no#{index + 1}" }
          - day['items'].in_groups_of(4).each_with_index do |day_group, index|
            .itinerary-content-time.afternoon
            / .itinerary-content-time{ class: day_group }
            .itinerary-content-row{ class: zebra_class(index) }
              - day_group.compact.each do |item|
                .content-tab-wrap
                  .content-tab
                    %a{href: "#"}
                    = image_tag item['tab_image']
                  .content-tab-title-info 
                    = item['name']
                  .content-tab-more-info
                    = item['notes']
                  .content-tab-get-more
                    = "Source:"
                    %a{href: item['source_url']} item['source']

  .body-container
    .timeline-wrap
      .timeline-travel.car
      .travel-info
        Drive from Lone Pine to Yosemite Valley, Home
      .timeline-end

  .footer
    .footer-content
      Text

.printable-message
