.initial-tutorial{ ng_show: '!hasItems() && isLoaded && ( !hasLists() || list )' }
  #header-spacing.except-landscape
  .band.spaced
    .new-plan-tutorial{ ng_show: '!list && !nearby', ng_class: "{'blur': hasPlanNearbyOptions()}" }
      .container.centered
        .column
          = image_tag 'tutorial_arrow.png', { ng_class: "{'pad-top-addbox': list}" }
      .container.centered
        .column{ ng_show: '!list && !hasLists()' }
          %strong.neon.large Start a List or Plan!
          .tutorial-image
            = image_tag "tutorial_plan_nearby.png"
          %strong.neon.large
            .tutorial-line Start by setting your destination!
            .tutorial-line You can add or change locations as you go
            .tutorial-line but this will help anchor us initially
    .place-name-tutorial{ ng_show: 'list && !nearby', ng_class: "{'blur': hasPlaceNearbyOptions()}" }
      .container.centered
        .column
          = image_tag 'tutorial_arrow.png', { ng_class: "{'pad-top-addbox': list}" }
      .container.centered
        .column{ ng_show: 'list && !nearby' }
          %strong.neon.large Awesome!  Starting Where?
          %p Set a Location so You can Find Your Places
          = image_tag "tutorial_place_nearby.png"
          %strong.neon.large
            .tutorial-line Where does your trip or list start?
            .tutorial-line You can change your location at any time;
            .tutorial-line we'll use it to find the places you search for
    .place-name-tutorial{ ng_show: 'list && nearby', ng_class: "{'blur': hasPlaceNameOptions()}" }
      .container.centered
        .column
          = image_tag 'tutorial_arrow.png', { ng_class: "{'pad-top-addbox': list}" }
      .container.centered
        .column{ ng_show: 'list && nearby', ng_class: "{'blur': hasPlaceNameOptions()}" }
          %strong.neon.large Cool! Now Add Places to your List
          %p When You've Found one, Just Press "Enter" or Click on It to Add
          = image_tag "tutorial_place_name.png"
          %strong.neon.large
            .tutorial-line Either search for specific places by name
            .tutorial-line or by category, if you like
