- set_page_type('simple')

.band.spaced
  .container
    .sixteen.columns
      .center-box

        .simple-entry-header= "Edit #{resource_name.to_s.humanize}"
        %hr.divider{ style: "width: 300px; margin-bottom: 18px"}

        .simple-entry-form
          = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = f.error_notification
            .simple-entry-form-section
              %i.icomoon.icon-user.simple-form-icon
              = f.input :first_name, required: true, autofocus: true, placeholder: 'First Name', input_html: { value: params["fn"], style: "#{'display: none' if params['fn'].present?}" }
            .simple-entry-form-section{ style: "#{'display: none' if params['ln'].present?}" }
              %span.simple-form-icon
              = f.input :last_name, required: true, placeholder: 'Last Name', input_html: { value: params["ln"] }
            .simple-entry-form-section{ style: "#{'display: none' if params['ln'].present?}" }
              %i.fa.fa-envelope.simple-form-icon
              = f.input :email, required: true, autofocus: true, placeholder: 'Email', input_html: { value: params["email"] }
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %p
                  Currently waiting confirmation for: #{resource.unconfirmed_email}
            .simple-entry-form-section
              %i.fa.fa-key.simple-form-icon
              = f.input :password, autocomplete: "off", required: false, placeholder: 'New Password'
            .simple-entry-form-section
              %i.fa.fa-key.simple-form-icon
              = f.input :password_confirmation, required: false, placeholder: 'Confirm New Password'
            .simple-entry-form-section{ style: "#{'display: none' if params['token'].present?}" }
              %i.fa.fa-key.simple-form-icon
              = f.input :current_password, required: true, placeholder: 'Current Password (Required)', input_html: { value: params["token"] }
            .simple-entry-form-section.form-actions.right
              = f.button :submit, "Update", class: "planit-button neon"
              
        .simple-entry-links
          = link_to "Back", :back
        %hr.divider{ style: "width: 300px;"}
        .simple-entry-header= "Cancel my account"
        .simple-entry-links
          %p
            Returning to the Stone Age? Don't let us stop you!  #{link_to "Delete all account info", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
