%h2= "#{@sharer.casual_name} wanted to share this with you:"
- if @notes.present?
  = "'#{@notes}' -"
  = link_to @sharer.casual_name, user_url(@sharer.id)
.indented-content
  = link_to @url do
    %h3= @title
    - if false # when we're ready to do images, do images
      - if @images.count > 1
        .images
          - @images.each do |image|
            = image_tag image, class: 'image-grid'
      - elsif @images.count == 1
        .images
          = image_tag image, class: 'image-single'
      - else # fake image
        .images
          = image_tag 'http://www.nikoklein.com/images/blank.gif', class: 'image-single'
- if @user.sign_in_count == 0
  %p
    %b First time seeing Planit?
    = "By sharing this note with you, #{@sharer.casual_name} also extended to you an invitation to<b>Planit</b>'s Private Beta. We're delighted to have you!".html_safe
  %p
    = link_to "Register", @url
    and start commenting, saving and personalizing your 
    %b Planit
- else
  %p
    = link_to "Log in", @url
    to comment, save, and personalize

%p The Planit Team