%h2= "Welcome to <b>Planit</b>'s Private Beta, #{@user.casual_name}!".html_safe
%p
  We've been building a home for all the places you love.  Save, edit, and share your favorite haunts, your wanderlist to-do's, and your friends' recommendations - all with one tool.

%p 
  Curate, filter, and share back with friends and family in a plug-and-play format they can easily save and personalize. 
  %b Your data will be yours
  to download, export, and share, and synchronized across the web and on your smartphone.

%p 
  For now, get started by
  = link_to "registering for your account.", new_user_registration_url( @user.atts(:email, :last_name, :first_name).to_sh.reject_val(&:blank?).to_h ), class: 'invite-link'
  Then you can:

%ul
  %li Gather your favorite places into a list to share with friends
  %li Add tips and recommendations from fellow travelers into a new trip or wishlist
  %li Easily share or print lists and plans
  %li More on the way!

%p
  You're one of our first users - 
  %b so please share any feedback you have 
  either through the on-site feedback forms or by emailing us at 
  = mail_to 'hello@plan.it', 'hello@plan.it'

%p Excited to have you on board!
%p The Planit Team

- if false
  %li
    = "Installing Planit's"
    = link_to "in-browser save button", button_url
    = "Importing your disparate lists ("
    = link_to "Yelp", about_url + "#import"
    = "Bookmarked,"
    = link_to "GoogleMaps", about_url + "#import"
    = "Starred,"
    = link_to "TripAdvisor", about_url + "#import"
    = "Saved,"
    = link_to "GoogleDocs", about_url + "#import"
    = "spreadsheets,"
    = link_to "Foursquare", about_url + "#import"
    = "Lists or"
    = link_to "KML/KMZ", about_url + "#import"
    = "files )"
  %li
    = "Adding in ideas through our"
    = link_to "simple search feature", about_url + "#save"  