%h2= "Welcome to <b>Planit</b>, #{@user.casual_name}!".html_safe
%p= "Thanks for signing up for Planit's public Beta!  We're wrapping up a few initial features and will be opening to the public shortly.  When we do, you'll be the first we reach out to."
%p= "As soon as we're ready, we'll send instructions for how to login to the site."
%p= "Excited to have you on board!  Thanks for joining and have a great day!"
%p= "The Planit Team"
  
