%h2= "Welcome to <b>Planit</b>'s Private Beta, #{@user.casual_name}!".html_safe
%p
  = """ We've been building a home for all the places you love.  Save your favorite haunts, your wanderlist to-do's, and your friends' recommendations - all with one click.  Curate, filter, and share back with friends and family in a plug-and-play format they can easily save and personalize.  Your data will be downloadable, exportable, and available across the web and on your smartphone.  For now, get started by: """.html_safe
  %ul
    %li
      - if @user.reset_password_token && @token.present? && @user.sign_in_count == 0
        = link_to "Signing in", edit_password_url(@user, reset_password_token: @token) , class: 'invite-link'
      - else
        = link_to "Signing in", new_user_session_url, class: 'invite-link'
      to your account
    %li
      = "Installing Planit's"
      = link_to "in-browser save button", button_url
    %li
      = "Gathering your favorite places into a list to share with friends"
    %li
      = "Adding tips and recommendations from fellow travelers into a new trip -- or a wishlist"
%p
  = "You're one of our first users - so please share any feedback you have either through the"
  = link_to "feedback form", feedback_url
  = "or by emailing us at <a href='hello@plan.it'>hello@plan.it</a>.".html_safe
%p= "Excited to have you on board!"
%p= "The Planit Team"

- if false
  %li
    = "Importing your disparate lists ("
    = link_to "Yelp", about_url + "#import"
    = "Bookmarked,"
    = link_to "GoogleMaps", about_url + "#import"
    = "Starred,"
    = link_to "TripAdvisor", about_url + "#import"
    = "Saved,"
    = link_to "GoogleDocs", about_url + "#import"
    = "spreadsheets,"
    = link_to "Foursquare", about_url + "#import"
    = "Lists or"
    = link_to "KML/KMZ", about_url + "#import"
    = "files )"
  %li
    = "Adding in ideas through our"
    = link_to "simple search feature", about_url + "#save"  