%h2= "Welcome to <b>Planit</b>'s Private Beta, #{@user.casual_name}!".html_safe
%p
  = """ We've been building a home for all the places you love.  Save your favorite haunts, your wanderlist to-do's, and your friends' recommendations - all with one click.  Curate, filter, and share back with friends and family in a plug-and-play format they can easily save and personalize.  Your data will be downloadable, exportable, and available across web and your smartphone.  For now, get started by: """.html_safe
  %ul
    - if @user.reset_password_token && @user.sign_in_count == 0
      %li
        = "Signing in with your" 
        = link_to "temporary password", new_user_session_url + @user.tokened_email
        = "["
        %span.password= @user.reset_password_token
        = "]"
    %li
      = "Installing Planit's"
      = link_to "browser-save button", about_url + "#browser"
    %li
      = "Importing your disparate lists ("
      = link_to "Yelp", about_url + "#import"
      = "Bookmarked,"
      = link_to "GoogleMaps", about_url + "#import"
      = "Starred,"
      = link_to "TripAdvisor", about_url + "#import"
      = "Saved,"
      = link_to "GoogleDocs", about_url + "#import"
      = "spreadsheets,"
      = link_to "Foursquare", about_url + "#import"
      = "Lists or"
      = link_to "KML/KMZ", about_url + "#import"
      = "files )"
    %li
      = "Adding in ideas through our"
      = link_to "simple search feature", about_url + "#save"
%p
  = "You're one of our first users - so please share any feedback you have either through the"
  = link_to "feedback form", feedback_url
  = "or by emailing us at <a href='hello@plan.it'>hello@plan.it</a>.".html_safe
%p= "Excited to have you on board!"
%p= "The Planit Team"