= stylesheet_link_tag 'sections/bookmarklet'

%form{ id: 'submit-form', action: scrape_api_v1_user_marks_path(@user), method: 'post' }
  = hidden_field_tag :url, @url, id: 'planit-current-url'

#planit-wrapper
  #planit-wrapper-shadow

<<<<<<< HEAD
    #planit-wrapper-content

      #planit-loading
        Working on it ;-)

      #planit-error
        Error.  Bummer ;-(

      #planit-success
        Success.

    #planit-noteWrap
      %input#planit-note.planit-input#planit-addNote{placeholder: "Note-to-Self?"}/

.planit-current-page-content{ style: 'display: none'}
=======
  #planit-bookmarklet-bar

    #planit-x-button
      &times;

    .bookmarklet-container
  
      .logo-container
        = image_tag "logo_only_black.png", alt: '', class: "logo-image-top"
        = image_tag "logo_name_only_black.png", alt: 'PLANIT', class: "logo-name-top large-screen"

      .planit-message
        #planit-loading= "Working on it ;-)"
        #planit-error
        #planit-success= "Page Saved!"

      .extras-container
        .planit-success-actions
          / %input.planit-tag-field#tags{ type: 'text', placeholder: 'Add Tags' }
          = link_to user_url( @user ), :target => "_blank" do
            .planit-button.neon.large-screen#see-places
              View Saved Places
            .planit-button.neon.mobile#see-places
              View
        .planit-working-actions
          .planit-button.gray#planit-close-button
            Close

= javascript_include_tag 'api/bookmarklets/view'
>>>>>>> bookmarklet design
