%script{ type: 'text/ng-template', id: 'single_page_plans.html' }

  .single-page-plans

    = render 'application/header', page_type: 'home'

    = render 'single/plan_box'

    = render 'single/sort_view'

    = render 'single/list_trip'

    = render 'single/list_map'

    = render 'single/guide_matrix'

    = render 'single/first_tutorial'