%script{ type: 'text/ng-template', id: 'single_page_plans.html' }

  .single-page-plans

    = render 'single/plan_box'

    = render 'single/sort_view'

    = render 'single/list_trip'

    = render 'single/list_map'

    = render 'single/select_guide'

    = render 'single/first_tutorial'