= render 'show/header', { :background => 'white', :color => 'black', :start => '', :page_type => 'bucket' }

.band.gray.spaced
  .container

    .sixteen.columns

      - countries = @user.marks.allcountries
      - countries.each do |country|

        .tab-section-header
          - marks = @user.marks.pluck(:country == 'country')
          - raise
          - regions = marks.allregions
          - if marks > 10 && regions.count > 1
            - regions.each do |region|
              - ms = marks.pluck(:regions == 'region')
              %span.bubble-span.medium.primary= country
              = ":"
              %span.bubble-span.medium.secondary= region
              = "("
              %strong= "#{regions.count}"
              = ")"
              - ms.each_with_index do |m, index|
                = render partial: 'items/item_tab', locals: { item: m, item_index: index }

          - else
            %span.bubble-span.medium.primary= country
            = "("
            %strong= "#{country.count}"
            = ")"

/ .band.gray.spaced
/   .container

/     .sixteen.columns

/       .tab-load-more
/         Load More (
/         %strong= 124
/         )

= render 'show/footer', { :page_type => 'bucket' }