- title( "#{@user.name}'s Guides" )
- set_page_type('guides')

#user-guides-page

  - if @user.plans.present?

    .band.gray.spaced-extra.padded
      - @user.plans.order('updated_at DESC').group_by{ |p| p.updated_at.strftime("%Y") }.each do |year, plans| 
        .container
          .column.alpha.bubbled-header-block.tab-section-header{ class: "collapses #{'collapsed-on' if !current_year(year)}", id: "in_#{year}" }
            %span.bubbled.medium.primary.enabled= year
            = ":"
            %span.bubbled.medium.secondary= "#{@user.name}'s' Guides"
            = "("
            %strong= plans.length
            = ")"
            %i.fa.fa-caret-down.tab-section-is-hidden
        .container.centered{ class: "in_#{year} #{'collapsed' if !current_year(year)}" }
          / .column= render partial: 'plans/guide_tab', locals: { plan: nil } if current_user == @user && current_year(year)
          - plans.each do |plan|
            .column= render partial: 'plans/guide_tab', locals: { plan: plan }

  - elsif current_user.plans.count == 0

    .static-page= render 'statics/add_to_guide'

  / - elsif current_user_is_active

  /   .static-page.container.whitebox.no-mobile-portrait.pad-top#beta-page
  /     .eight.columns.main-content
  /       .left-section.padded
  /         .section-header= "Guides?  #{@user.casual_name} doesn't have any saved yet"
  /         .static-section-content
  /           %p
  /             %i{ class: 'fa fa-heart padded-icon' }
  /             %strong.neon Show some love.

  /     .eight.columns.main-content
  /       .right-section.padded

  /         .section-header= "Share a Recommendation!"
  /         .small-form-box
  /           .simple-entry-form
  /             / = simple_form_for(Mark.new, url: waitlist_users_path) do |f|
  /             /   = f.error_notification
  /             /   .simple-entry-form-section
  /             /     %i.fa.fa-map-marker.simple-form-icon
  /             /     = f.input :name, required: true, placeholder: 'Place Name'
  /             /   .simple-entry-form-section.form-actions.right
  /             /     = f.button :submit, "Recommend", class: 'planit-button neon'

