- title( [@user.first_name,@user.last_name].compact.join(' ') + "’s Guides" )

#user-guides-page

  = render 'show/header', { :background => 'white', :color => 'black', :start => '', :page_type => 'guides' }

  .band.gray.spaced.large-screen
    .container

      .sixteen.columns

        - if @user == current_user
          = @user.decorate.show_create_plan_button
        - if @user.plans.present?
          - @user.plans.order('updated_at DESC').group_by{ |p| p.updated_at.to_date }.each do |date, plans| 
            %ul.activity-list= days_since_string(date)
            - plans.each do |plan|
              %li.activity-line= plan.decorate.created_or_updated_at_link

        - else

          .dashboard-header= "No Guides Yet?"
          .no-activity-alert
            .no-activity-note= @user.decorate.show_no_plans_alert
            = @user.decorate.show_create_plan_button

  = render 'show/footer', { :page_type => 'guides' }
