- title( "#{current_user.name}'s Inbox" )
- set_page_type('inbox')

#user-inbox-page{ ng_controller: 'InboxCtrl', ng_init: "init(#{ current_user.saves_to_review.pluck(:id) })" }

  .band.spaced

    - if current_user.message_count > 0

      - if current_user.shares_to_review.count > 0
        .container.none.inbox-folder
          .bubbled-header-block
            %span.bubbled.medium.primary= "Shared With Me"
            = "&nbsp; (<strong> #{current_user.shares_to_review.count} </strong>)".html_safe
            %span.flat.delete-right
              = "Clear All &nbsp;".html_safe # NEEDSFOLLOWUP
              %i.fa.fa-trash
        .container.none.inbox-folder-contents
          - current_user.shares_to_review.each_with_index do |mark, index|
            = link_to mark_path(mark.id) do
              .container.none.inbox-message-header{ class: "#{'darker' if index.even?}" }
                .original-reminder= render 'marks/place_option_header', { mark: mark, inbox: true, index: index }

      .saves-to-review
        .container.none.inbox-folder
          .bubbled-header-block
            %span.bubbled.medium.primary My In-Progress Saves
            = "&nbsp; (<strong> #{current_user.saves_to_review.count} </strong>)".html_safe
            %span.flat.delete-right
              = "Clear All &nbsp;".html_safe # NEEDSFOLLOWUP
              %i.fa.fa-trash
        .container.none.inbox-folder-contents
          .container.none.inbox-message-header{ ng_repeat: 'mark in savesToReview', ng_click: "openMark(mark)", ng_class: "{ darker: $even }" }
            .original-reminder= render 'marks/place_option_header'

  .band.spaced
    %h3 Get the Planit Bookmarklet
    = current_user.decorate.bookmarklet_link