- title( "#{current_user.name}'s Inbox" )
- page_type('inbox')

#user-inbox-page

  .band.spaced-extra

    .container.inbox-folder
      .sixteen.columns.bubbled-header-block
        %span.bubbled.medium.primary= "In-Progress Saves"
        = ":"
        %span.bubbled.medium.secondary.large-screen-inline= "Review Your Pending Places"
        = "("
        %strong= @user.marks_to_review.count
        = ")"
        %span.flat.delete-right= "Clear All &nbsp; ×".html_safe
    .container.marks-to-review
      - @user.marks_to_review.each_with_index do |mark, index|
        .band{ class: "#{'darker' if index.even?}" }
          .inbox-message-header.collapses{ id: "mark_#{mark.id}_#{index}" }
            = render 'marks/place_option_header', { mark: mark, inbox: true, index: index }
          .inbox-message-body.collapsed{ class: "mark_#{mark.id}_#{index}" }
            = render 'marks/place_option', { mark: mark }