- title( @user.name )
- page_type( (browser.mobile? ? 'mobilehome' : 'dashboard') )

#user-show-page

  - if current_user == @user # personal startpage

    - if !browser.mobile?

      .band.gray.spaced.large-screen
        .container

          .sixteen.columns

            %p= "#{@user.name}'s Dashboard"

    - else # mobile

      .mobile-half-screen.top
        .centering-box
          
          .centered-item.input-box
            %search_and_add

      .mobile-half-screen.bottom
        .centering-box
          .centered-item.box-link-group
            = link_to user_path(current_user) do
              .box-link.left
                .icon-and-hint.centered-item
                  %i.fa.fa-bullseye
                  .hint Nearby
            = link_to user_path(current_user) do
              .box-link.right
                .icon-and-hint.centered-item
                  %i.fa.fa-clock-o
                  .hint Recent

  - else # public 'dashboard'

    .band.gray.spaced.large-screen
      .container

        = @user.decorate.travel_stats_string
