= render 'show/header', { :background => 'white', :color => 'black', :start => '', :page_type => 'user' }

= link_to 'Sign Out', destroy_user_session_path, method: :delete
.band.gray.spaced.large-screen
  .container

    .two-thirds.column
      .dashboard-header= "World View"

      .world-view-map-wrap
        .empty-map-box.world-view
          %map.world-view-canvas{ coordinates: @user.marks.coordinates, names: @user.marks.all_names.join('/+/'), ids: @user.marks.all_ids.join('+'), path: '/places/1', type: 'worldview' }
        .tab-caption= @user.decorate.show_travel_stats_as_caption

    .one-third.column
      .dashboard-header= "Profile & Info"

      .profile-and-info-wrap
        .profile-photo-box


.band.gray.spaced
  .container

    .eight.columns.recent-activity-list
      .dashboard-header= "Plans & Guides"

      - if @user.plans.present?
        - @user.plans.order('updated_at DESC').group_by{ |p| p.updated_at.to_date }.each do |date, plans| 
          %ul.activity-list= days_since_string(date)
          - plans.each do |plan|
            %li.activity-line= plan.decorate.created_or_updated_at_link

      - else
        .no-activity-alert
          .no-activity-note= @user.decorate.show_no_plans_alert
          = @user.decorate.show_create_plan_button

    .eight.columns.recent-activity-list
      .dashboard-header= "Recent Pins"

      - if @user.marks_in_last_month? || @user.items_in_last_month?
        - @user.marks.order('updated_at DESC').group_by{ |p| p.updated_at.to_date }.each do |date, marks| 
          %ul.activity-list= days_since_string(date)
          - marks.each do |mark|
            %li.activity-line= mark.decorate.created_or_updated_at_link

      .no-activity-alert
        .no-activity-note= @user.decorate.show_no_pins_alert
        = @user.decorate.show_bookmarklet_button_with_text

= render 'show/footer', { :page_type => 'user' }
