- title( @user.name )
- set_page_type( (browser.mobile? ? 'mobilehome' : 'dashboard') )

#user-show-page

  - if current_user == @user # personal startpage

    - if !browser.mobile?

      .static-page.container
        .whitebox.no-mobile-portrait.extra-pad-top.like-container
          .sixteen.columns.main-content

            %p= "#{@user.name}'s Dashboard"
            %p Find/Discover/Follow
            %p Active Plans/Geographies
            %p Start a new plan
            %p Share/invite?

    - else # mobile

      .mobile-half-screen.top
        .centering-box
          
          .centered-item.input-box{ ng_controller: 'NavBarCtrl' }
            .search-bar-wrap.mobile-center-search
              .input-group.faux-input{ ng_click: 'expandBar()' }
                %ul.faux-input.form-control.search-bar-field
                  %li.faux-input= "Search or Add"
                %span.input-group-btn
                  %button.btn.btn-default.search-input-button
                    %i.fa.fa-search.fa-lg

      .mobile-half-screen.bottom
        .centering-box
          .centered-item.box-link-group
            = link_to user_path(current_user) do
              .box-link.left
                .icon-and-hint.centered-item
                  %i.fa.fa-bullseye
                  .hint Nearby
            = link_to user_path(current_user) do
              .box-link.right
                .icon-and-hint.centered-item
                  %i.fa.fa-clock-o
                  .hint Recent

  - else # public 'dashboard'

    .band.gray.spaced.large-screen
      .container

        %span.gray
          @user.marks.count
          pins and
          @user.plans.count
          plans
        %span.gray.large-screen.inline
          across 
          @user.marks.all_localities.count
          cities &
          @user.marks.all_countries.count
          countries
