.band.gray.spaced-extra.main-content
  .container
    .sixteen.columns.left-section
      .section-header= "<i>Your</i> Lists, Guides & Trip Plans".html_safe
      .static-section-content
        %p
          %i{ class: 'fa fa-list padded-icon' }
          As simple or detailed as you want 
        %p 
          %i{ class: 'fa fa-book padded-icon' }
          = "..."
          from short recommendation- & wish-lists 
        %p
          %i{ class: 'fa fa-calendar padded-icon' }
          = "..."
          to complex, customized multi-leg itineraries
        %p
          %i{ class: 'fa fa-paper-plane padded-icon' }
          Share with your friends and family with a quick click (
          %i.fa.fa-paper-plane-o.neon
          ) or sharing your own permanent URL
        - unless true

          %p.disabled
            %i{ class: 'fa fa-group padded-icon' }
            Add collaborators to your guides
            %span.coming-soon= "COMING SOON"
          %p.disabled
            %i{ class: 'fa fa-calendar padded-icon' }
            When you're ready, start booking places to eat, stay, and see
            %span.coming-soon= "COMING SOON"
      - if current_user_is_active
        %a{ href: '#planit-modal-guide', data: { toggle: 'modal', target: '#planit-modal-guide', backdrop: 'static', keyboard: 'false' } }
          %span.learn-more.planit-button.neon
            Start a Guide Now
            %i.fa.fa-book.pad-left

- unless true

  .band.off-white.spaced-extra.main-content
    .container
      .sixteen.columns.right-section
        .section-header= "Whenever you Save Places, Easily Add them to a Guide"
        .static-section-content
          %p
            Just click (
            %i.fa.fa-book.neon
            %strong.neon= '+'
            ) and link any place to your guides
            %i{ class: 'fa fa-plus-circle padded-icon' }
        .static-float-image.hug-tight-bottom


  .band.gray.spaced-extra.main-content
    .container
      .sixteen.columns.left-section
        .section-header.disabled= "Easily Convert Guides to Travel Itineraries"
        .static-section-content
          %p.disabled
            %i{ class: 'fa fa-envelope padded-icon' }
            Forward email confirmations to automatically import confirmation codes, dates and times for reserved events
            %span.coming-soon= "COMING SOON"
          %p.disabled
            %i{ class: 'fa fa-clock-o padded-icon' }
            If you like, manually set dates and times for each place you want to visit
            %span.coming-soon= "COMING SOON"
          %p.disabled
            %i{ class: 'fa fa-calendar padded-icon' }
            Make bookings and reservations from planit
            %span.coming-soon= "COMING SOON"
          %p.disabled
            %i{ class: 'fa fa-wifi padded-icon' }
            Carry your plans with you offline in airplane-mode
            %span.coming-soon= "COMING SOON"
