.container

  %div{ class: 'one-third column' }
    .section-header
      Attribution & Credits
    .static-section-content
      %p.text-spaced
        User-submitted images and content, unless otherwise attributed, are the exclusive copyright of Planit and its users, who may freely share access to their places and plans
    .static-section-content
      %p.text-spaced
        Any perceived
        = link_to 'copyright', legal_dmca_path
        issues should be reported immediately

  %div{ class: 'one-third column' }
    .section-header
      Partners & Sources
    .static-section-content
      %p.text-spaced
        In-app search is powered by the
        %a{ target: '_self', href: "http://www.foursquare.com/"}= "Foursquare"
        Venues API
    .static-section-content
      %p.text-spaced
        All maps are deployed with the 
        %a{ target: '_self', href: "http://leafletjs.com/"}= "Leaflet"
        open-source JavaScript library, leverage
        %a{ target: '_self', href: "http://www.openstreetmap.org/"}= "OpenStreetMaps"
        data, and contain
        %a{ target: '_self', href: "http://developer.mapquest.com/web/products/open/map/"}= "Mapquest"
        map tiles

  %div{ class: 'one-third column' }
    .section-header
      Customer Support
    .static-section-content
      %p.text-spaced
        We love feedback!  Please share 
        - if current_user_is_active
          %a{ href: '#planit-modal-feedback', data: { toggle: 'modal', target: '#planit-modal-feedback', backdrop: 'static', keyboard: 'false' } }= "a quick note"
        - else 
          %a{ target: '_self', href: "mailto:hello@plan.it"}= "a quick note"
        with us

    .static-section-content
      %p.text-spaced
        If you have any concerns about your data, contact us with any questions not otherwise addressed in our
        = link_to 'Privacy Policy', legal_privacy_path