- title('Private Beta')
- set_page_type('beta')
- if !browser.mobile? then set_body_style("background-image: url('#{ ActionController::Base.helpers.asset_path('crossing_2000_1372.jpg') }');") end

#beta-page

  .beta-log-in= link_to "Log In", new_user_session_path, { class: 'planit-button blue' }

  = "&nbsp;<br>&nbsp;<br>".html_safe if browser.mobile?
  
  .band.spaced-extra-crazy

    .static-page.container
      .whitebox.no-mobile-portrait.extra-pad-top.like-container
        .eight.columns.main-content
          .left-section.padded

            .section-header= "Planit is in Private Beta"
            .static-section-content
              %p
                %i{ class: 'fa fa-home padded-icon' }
                We're building a home for all the places you love.
              %p
                %i{ class: 'icon-map padded-icon' }
                Save, curate, and share your favorite spots.
              %p
                %i{ class: 'fa fa-heart padded-icon' }
                Never forget a great recommendation.
              %p
                %i{ class: 'fa fa-plane padded-icon' }
                Quickly convert lists to trip itineraries.

        .eight.columns.main-content
          .right-section.padded

            .section-header= "Request an Invite!"
            .small-form-box
              .simple-entry-form
                = simple_form_for(User.new, url: waitlist_users_path) do |f|
                  = f.error_notification
                  .simple-entry-form-section
                    %i.icomoon.icon-user.simple-form-icon
                    = f.input :first_name, required: true, placeholder: 'First Name'
                  .simple-entry-form-section
                    %i.simple-form-icon
                    = f.input :last_name, required: true, placeholder: 'Last Name'
                  .simple-entry-form-section
                    %i.fa.fa-envelope.simple-form-icon
                    = f.input :email, required: true, placeholder: 'Email Address'
                  .simple-entry-form-section.form-actions.right
                    = f.button :submit, "Sign up", class: 'planit-button neon'

  .static-page
    = render 'statics/save'
    = render 'statics/add_to_guide'

  .band.black.spaced-extra.largest-screen
    .container
      .sixteen-columns
        .beta-footer-note
          Know Swift & Java?
          %span.neon We're hiring mobile developers!
          = mail_to "jobs@plan.it", "Send us a note"

