- title('Welcome!')

.static-page#welcome-page

  = render 'show/header', { :background => 'white', :color => 'black', :start => '', :page_type => 'welcome' }

  .band.gray.spaced-extra.main-content
    .container
      .sixteen.columns.left-section
        .static-section-header.large= "Save and Share the Places You Love"
        .static-section-content
          %p
            %i{ class: 'icomoon icon-map padded-icon' }
            Easily gather and curate your ultimate "wander list"
          %p 
            %i{ class: 'fa fa-book padded-icon' }
            Never forget a recommendation again
          %p
            %i{ class: 'fa fa-plane padded-icon' }
            Plot weekend trips, vacations, and great nights out
          %p
            %i{ class: 'fa fa-group padded-icon' }
            Share tips on your favorite haunts with your friends & family
          %p
            %i{ class: 'fa fa-globe padded-icon black' }
            %strong= "It's your Planit"
        %span.learn-more
          Get Started

  .band.off-white.spaced-extra.main-content
    .container
      .sixteen.columns.right-section
        .welcome-section-divider= "Band"

  = render 'show/save'

  .band.off-white.spaced-extra.main-content
    .container
      .sixteen.columns.right-section
        .static-section-header.large= "Save and Share the Places You Love"
        .static-section-content

  = render 'show/footer', { :page_type => 'welcome' }
