.one.column
  = image_tag("blank.png", :width => '100%', :height => '1')

/ .plan-content-row{ class: zebra_class(day.place_in_trip, bucket) }
%div{ class: "eight columns #{zebra_class(day.place_in_trip, bucket)}-day" }
  .plan-content-date-state-day
    day
  .plan-content-date
    .timeline-point-link{ id: "day_#{day.place_in_trip}"}
    = image_tag "timeline_date_#{day.place_in_trip}.png"
    .timeline-day-pin
      - if day.place_in_trip 
        = day.place_in_trip
      - else 
        = 'X'
      = image_tag "leg-map-icon-tip-black.png"
  .plan-content-wing{ class: zebra_class(day.place_in_trip)}
  .tab-column-wrap
    - day.items.with_tabs.each_with_index do |item, item_index|
      .tab-row-wrap.large.clicked.dayby
        = render partial: 'items/item', locals: { item: item, row_index: item_index, item_index: item_index }

/ Day Map
%div{ class: "seven columns #{zebra_class(day.place_in_trip, bucket)}-day" }
  .day-map-container{ class: day_map_size(day.items.with_tabs.length), class: "dayby" }
    .day-map
      - if previous_lodging = day.previous_lodging
        %map.cluster-map{ icon: map_icon, coordinates: "#{previous_lodging.coordinate}+#{day.coordinates}", type: "day#{day.plan.maptype}" }
          .day-caption= "Day #{day.place_in_trip} Overview"
      - else
        %map.cluster-map{ icon: map_icon, coordinates: day.coordinates, type: "day#{day.plan.maptype}" }
          .day-caption= "Day #{day.place_in_trip} Overview"
