- if item.name && item.name.length > 0
  .print-tab-content-line.name
    = item.name
- if @plan.starts_at
  .content-tab-print.time
    .print-tab-content-line
      = display_date(@plan, item).strftime("%b %d, %Y")
- if item.lodging && @plan.starts_at
  .print-tab-content-line
    = "Stay the night (#{display_date(@plan, item).strftime ("%m/%d/%Y")})"
- if item.category
  .print-tab-content-line
    = item.category.titleize
- if item.notes
  .print-tab-content-line
    %b Notes:
    = item.notes.html_safe
- if item.coordinate
  .empty-print-map-box.tab
    %map.print-map-canvas.tab{ coordinates: item.coordinate, type: "print" }
- if item.names && item.names.length > 1
  .print-tab-content-line
    = " (#{item.names[1]})"
- if item.street_address
  .print-tab-content-line
    = item.street_address
- if item.website
  .print-tab-content-line
    %a{:title => "website", :href => item.website}
      .i.fa.fa-link
      = item.website
- if item.phones
  - item.phones.each do |type, number|
    .print-tab-content-line
      .i.fa.fa-phone
      = number
- if item.source
  .content-tab-get-more
    %b= item.source
    = item.source_url