.content-tab-wrap
  .content-tab-print.time= image_tag "timeline_date_#{day.day_in_trip}.png"
  .content-tab-print.day-log
    %b= "Day #{day.day_in_trip}"
    - if @plan.start_date
      = ": #{display_date(@plan, day.items.first).strftime('%b %d, %Y')}"
    %br= " "
    - if index != 0
      .day-log.item
        = "(0) "
        %b= day.previous(index).items.last.name.titleize
    - day.items.each_with_index do |item, item_index|
      .day-log.item
        = "(#{item_index + 1}) "
        - if item.name         
          %b= item.name.titleize
        - else
          %i= "Un-named"
        = distance(index, item_index, item, day)

  .content-tab-print.day-map
    - if previous_lodging = day.previous_lodging(index)
      %map.day-map-container{ icon: map_icon, coordinates: "#{previous_lodging.coordinate}+#{day.coordinates}", type: 'print' }
    - else
      %map.day-map-container{ icon: map_icon, coordinates: day.coordinates, type: 'print' }

- day.items.each_with_index do |item, index|
  .content-tab-wrap
    .content-tab-print.time
      = image_tag timeline_cluster_image(day)
      .content-tab-timestamp
        = "#{day.time_of_day}, " if day.time_of_day
        = display_date(@plan, item).strftime("%b %d, %Y") if @plan.start_date
          
    .content-tab-print.image
      .content-tab-title
        - if item.name
          %b= item.name
      - if item.tab_image
        = image_tag item.tab_image
        - if item.source
          %span{style: "display: block; font-size: 8px"}= link_to "@#{item.source}", item.tab_image, style: "color: #000"
    .content-tab-print.info
      - if item.lodging && @plan.start_date
        .content-tab-more-info
          = "Stay the night (#{display_date(@plan, item).strftime ("%m/%d/%Y")})"
      - if item.category
        .content-tab-more-info
          = item.category.titleize
      - if item.notes
        .content-tab-more-info
          %b Notes:
          = item.notes.html_safe
      - if item.website
        .content-tab-more-info
          %b Website:
          = item.website
      - if item.international_phone
        .content-tab-more-info
          %b Int'l Phone:
          = item.international_phone
      - if item.local_phone
        .content-tab-more-info
          %b Phone:
          = item.local_phone
      - if item.phone
        .content-tab-more-info
          %b Phone:
          = item.phone
      - if item.source
        .content-tab-get-more
          %b= item.source
          = item.source_url
    .content-tab-print.location
      - if item.local_name && item.local_name_unique?
        .content-tab-timestamp
          = " (#{item.local_name})"
      - if item.coordinate
        %map.item-map-container{ icon: map_icon, coordinates: item.coordinate, type: "detail" }
      - else
        = image_tag "no_map_180x180.png", {style: "height: 180px; width: 180px"}
      - if item.address
        .content-tab-more-info
          = item.address