.print-day-overview-wrap
  .print-day-log-wrap
    .print-day-log.title
      = "Day #{day.place_in_trip + 1}"
      - if @plan.starts_at
        = ": #{display_date(@plan, day.items.first).strftime('%b %d, %Y')}"
    - if index != 0
      .print-day-log.item
        = "(0) "
        %b= day.previous.items.last.name.titleize
    - day.items.each_with_index do |item, item_index|
      .print-day-log.item
        = "(#{item_index + 1}) "
        - if item.name         
          %b= item.name.titleize
        - else
          %i= "Un-named"
        = print_distance(index, item_index, item, day)

  .content-tab-print.day-map
    - if previous_lodging = day.previous_lodging
      .print-map-canvas.day
        %map.day-map-container{ icon: map_icon, coordinates: "#{previous_lodging.coordinate}+#{day.coordinates}", type: 'print' }
    - else
      .print-map-canvas.day
        %map.day-map-container{ icon: map_icon, coordinates: day.coordinates, type: 'print' }


- day.items.in_groups_of(4, 'open') do |items_in_four|

  .print-tab-row

    - colspan_open = 0

    - items_in_four.each_with_index do |item, index|

      - if index == 3 && item != 'open'
        .print-tab-wrap.last
          = render partial: 'days/print_tab', locals: { day: day, item: item }
      - elsif item != 'open'
        .print-tab-wrap
          = render partial: 'days/print_tab', locals: { day: day, item: item }
      - else
        - colspan_open = colspan_open + 1

    - colspan_open = ((colspan_open*180)+((colspan_open-1)*10))
    - if colspan_open != -10
      .fill-open{ style: "width: #{colspan_open}px", width: "#{colspan_open}px" }
