.initial-tutorial{ ng_show: '!m.hasItems() && m.isLoaded && ( !m.hasLists() || m.list )' }
  #header-spacing.except-landscape
  .band.spaced
    .place-name-tutorial{ ng_show: 'm.list && !m.nearby', ng_class: "{'blur': hasPlaceNearbyOptions()}" }
      .container.centered
        .column
          = image_tag 'tutorial_arrow.png', { ng_class: "{'pad-top-addbox': m.list}" }
      .container.centered
        .column{ ng_show: 'm.list && !m.nearby' }
          %strong.neon.large Awesome!  Starting Where?
          %p Set a Location so You can Find Your Places
          .tutorial-image= image_tag "tutorial_place_nearby.png"
          %strong.neon.large
            .tutorial-line Where does your trip or list start?
            .tutorial-line You can change your location at any time;
            .tutorial-line we'll use it to find the places you search for
    .place-name-tutorial{ ng_show: 'm.list && m.nearby', ng_class: "{'blur': m.hasPlaceNameOptions()}" }
      .container.centered
        .column
          = image_tag 'tutorial_arrow.png', { ng_class: "{'pad-top-addbox': m.list}" }
      .container.centered
        .column{ ng_show: 'm.list && m.nearby', ng_class: "{'blur': m.hasPlaceNameOptions()}" }
          %strong.neon.large 
            Cool! Now Add Places
            %span.large-screen.inline to your List
          = "&nbsp;".html_safe
          .planit-button.blue
            Need Help?
            %i.fa.fa-facebook-official.fa-lg.pad-left
          .tutorial-image= image_tag "tutorial_place_name.png"
          %strong.neon.large
            .tutorial-line Either search for specific places by name
            .tutorial-line or by category, if you like
