#mailer-footer
  = "<strong>Planit</strong> : Save and Share the Places You Love".html_safe
  %i= "|"
  = link_to "Powered by Foursquare", "http://www.foursquare.com/", target: '_blank'
  %i= "|"
  = link_to "Privacy Settings", legal_privacy_url
.rainbow-divider
  .rainbow.turqoise
  .rainbow.blue
  .rainbow.bluegreen
  .rainbow.green
  .rainbow.yellow
  .rainbow.orange
  .rainbow.pink
  .rainbow.magenta
  .rainbow.purple
