.footer-spacing.mobile
.footer.large-screen{ class: page_type }

  = render 'show/legal_info'

.footer.mobile{ class: page_type }
  - if current_user_is_active
    .bottom-nav-bar
      = current_user.decorate.nav_item_map(page_type)
      = current_user.decorate.nav_item_list(page_type)
      = current_user.decorate.nav_item_new(page_type)
      = current_user.decorate.nav_item_inbox(page_type)
      = current_user.decorate.nav_item_share(page_type)
