.footer{ class: page_type }
  .container

    %div{ class: 'one-third column' }
      .footer-title
        Attribution & Credits
      .footer-section
        It's your 
        %b= "Planit"

    %div{ class: 'one-third column' }
      .footer-title
        Partners & Sources
      .footer-section
        User-submitted images and content, unless otherwise attributed, are the exclusive copyright of Planit and its users, who may freely share access to their private travel plans
      .footer-section
        In-app search is powered by the
        %a{href: "http://www.foursquare.com/"}= "Foursquare"
        Venues API
      .footer-section
        All maps are deployed with the 
        %a{href: "http://leafletjs.com/"}= "Leaflet"
        open-source JavaScript library, leverage
        / %a{href: "http://leafletjs.com/"}= "OpenStreetMaps"
        / data, and contain
        / %a{href: "http://leafletjs.com/"}= "Mapbox"
        / map tiles
        %a{href: "http://www.openstreetmap.org/"}= "OpenStreetMaps"
        data, and contain
        %a{href: "http://developer.mapquest.com/web/products/open/map/"}= "Mapquest"
        map tiles

    %div{ class: 'one-third column' }
      .footer-title
        Contact & Support
      .footer-section
        This project is being tested privately among friends and family -- please share any feedback you have with us via 
        %a{href: "mailto:planit@longhou.se"}= "planit@longhou.se"