.initial-header{ class: "#{start} #{background}" }
  - if page_type == 'simple'
    .simple-header-top
      = image_tag "its_your_#{color}.png", style: "width: 117px; height: 50px;"
      = image_tag "logo_only_#{color}.png", style: "width: 42px; height: 50px;"
      = image_tag "logo_name_only_#{color}.png", style: "width: 86px; height: 50px;"
      = image_tag "ellipsis_#{color}.png", style: "width: 20px; height: 50px;"
    .tagline-band
      = title.first.upcase
      .large-screen= title.last.upcase
  - else  
    .container.pseudo
      .header-container
        .logo-container
          = image_tag "logo_only_#{color}.png", style: "float:left; width: 42px; height: 50px; margin: 10px 10px 10px 0", class: "large-screen"
          = image_tag "logo_only_white.png", style: "float:left; width: 42px; height: 50px; margin: 10px 10px 10px 0", class: "mobile"
          = image_tag "logo_name_only_#{color}.png", class: "logo-name-top #{page_type}", style: "float:left; width: 86px; height: 50px; margin: 10px 10px 10px 0"
        .search-bar-wrap{ class: page_type }
          .input-group
            %input.form-control#input-search-field{ :name  => "input-search", :placeholder => "Search / Add", :type => "text"}/
            %span.input-group-btn
              %button.btn.btn-default#input-search-button{:type => "button"}
                %i.fa.fa-search.fa-lg
        .page-title-bar{ class: page_type }
          .page-title{ class: color }= title.first.upcase
          .page-title.extra{ class: color }= title.last.upcase
        - if page_type == 'new'
          .main-menu-container{ class: color }
            = link_to user_path(current_user), class: "a-override a-#{background} h-#{background}" do
              %i.fa.fa-arrow-left.main-menu-icon
        - else
          .main-menu-container.user-icon{ class: color }
            %a.dropdown-toggle.a-override{ class: "a-#{background} h-#{background}", "data-toggle" => "dropdown", :href => "#" }
              %i.fa.fa-user.main-menu-icon
          .main-menu-container.main-menu.mobile.white
            %i.fa.fa-bars.a-override.main-menu-icon.dropdown-toggle{ class: "a-black h-black" }
          %ul.dropdown-menu
            - if current_user
              %li
                %i.fa.fa-user.fa-fw
                = link_to "Update Account", edit_user_registration_path
              %li
                %i.fa.fa-key.fa-fw
                = link_to "Change Password", edit_user_password_path
              %li
                %i.fa.fa-cog.fa-fw
                Preferences
              %li.divider
              %li
                %i.fa.fa-times.fa-fw
                = link_to "Log Out", destroy_user_session_path, method: :delete
            - else
              %li
                %i.fa.fa-user.fa-fw
                = link_to "Log In", new_user_session_path
              %li
                %i.fa.fa-user.fa-fw
                = link_to "Sign Up", new_user_registration_path
        .side-menu-container{ class: "#{color} #{page_type}" }
          - if current_user
            %strong.a-override.h-neon{ class: "a-#{color}" }= link_to "DASHBOARD", user_path(current_user)
          - else
            %strong.a-override.h-neon{ class: "a-#{color}" }= link_to "SIGN UP", new_user_registration_path
            %span.divider= "|"
            %strong.a-override.a-gray.h-neon= link_to "LOG IN", new_user_session_path

  .page-header-band.large-screen{ class: page_type }
    .container
      .sixteen-columns.page-header-container
        .page-header-category.sort.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %i.filter.fa.fa-sliders
          Sort/Filter
          %span.shrink= "by"
        %ul.dropdown-menu
          %li
            %a{:href => "#"}
              %i.fa.fa-bullseye.fa-fw
              Nearby
          %li
            %a{:href => "#"}
              %i.fa.fa-globe.fa-fw
              Region
          %li
            %a{:href => "#"}
              %i.fa.fa-filter.fa-fw
              Type
          %li
            %a{:href => "#"}
              %i.fa.fa.fa-clock-o.fa-fw
              Recent
          %li.divider
          %li
            %a{:href => "#"}
              %i.fa.fa-check-circle.fa-fw
              Been
          %li
            %a{:href => "#"}
              %i.fa.fa-ban.fa-fw
              Unliked
        %span.filter-content.bubble-span.small.off
          %span.icon-my-location.filter-icon
          / Nearby To Current Location default | dropdown for extra definition?  Hide if on PC?
        %span.filter-content.bubble-span.small.up
          = "Region" # Most Places | search: Country / Region / Locality / Neighborhood
          %i.fa.fa-caret-down.filter-icon
        %span.filter-content.bubble-span.small.down
          Type
          %i.fa.fa-filter.filter-icon
        %span.filter-content.bubble-span.small.down
          Recent
          %i.fa.fa-caret-up.filter-icon
        %span.filter-content.bubble-span.small.on
          %i.fa.fa-check-circle.filter-icon
          Been
        %span.filter-content.bubble-span.small.off
          %i.fa.fa-ban.filter-icon
          Unliked
        %span.page-header-divider= "|" 
        .page-header-category.map
          / %i.tab-view.fa.fa-th-large.filter-icon
          / Tab
          %span.icon-map22.filter-icon
          Map
          %span.shrink= "View"
        %span.page-header-divider= "|" 
        .page-header-category.share.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span.icon-share2.filter-icon
          Share
        %ul.dropdown-menu
          %li
            %a{:href => "#"}
              %i.fa.fa-link.fa-fw
              Copy Link
          %li
            %a{:href => "#"}
              %i.fa.fa-envelope-o.fa-fw
              Email
          %li
            %a{:href => "#"}
              %i.fa.fa-facebook.fa-fw
              Facebook
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter.fa-fw
              Twitter
          %li.divider
          %li
            %a{:href => "#"}
              %i.fa.fa-print.fa-fw
              PDF

.init-header-space{ class: page_type }


