.initial-header{ class: "#{start} #{background}" }
  - if page_type == 'simple'
    .simple-header-top
      = image_tag "its_your_#{color}.png", style: "width: 117px; height: 50px;"
      = image_tag "logo_only_#{color}.png", style: "width: 42px; height: 50px;"
      = image_tag "logo_name_only_#{color}.png", style: "width: 86px; height: 50px;"
      = image_tag "ellipsis_#{color}.png", style: "width: 20px; height: 50px;"
    .tagline-band
      = title.first.upcase
      .large-screen= title.last.upcase
  - else  
    .container.pseudo{ class: page_type }
      .header-container
        .logo-container
          = image_tag "logo_only_#{color}.png", style: "float:left; width: 42px; height: 50px; margin: 10px 10px 10px 0", class: "large-screen"
          = image_tag "logo_only_white.png", style: "float:left; width: 42px; height: 50px; margin: 10px 10px 10px 0", class: "mobile"
          = image_tag "logo_name_only_#{color}.png", class: "logo-name-top #{page_type}", style: "float:left; width: 86px; height: 50px; margin: 10px 10px 10px 0"
        .search-bar-wrap{ class: page_type }
          .input-group
            %input.form-control#input-search-field{ :name  => "input-search", :placeholder => "Search & Sort", :type => "text"}/
            %span.input-group-btn
              %button.btn.btn-default#input-search-button{:type => "button"}
                %i.fa.fa-search.fa-lg
        .page-title-bar{ class: page_type }
          .page-title{ class: color }= title.first.upcase
          .page-title.extra{ class: color }= title.last.upcase
        - if page_type == 'new'
          .main-menu-container{ class: color }
            = link_to user_path(current_user), class: "a-override a-#{background} h-#{background}" do
              %i.fa.fa-arrow-left.main-menu-icon
        - else
          .main-menu-container.user-icon{ class: color }
            %a.dropdown-toggle.a-override{ class: "a-#{background} h-#{background}", "data-toggle" => "dropdown", :href => "#" }
              %i.fa.fa-user.main-menu-icon
          .main-menu-container.main-menu.mobile.white
            %i.fa.fa-bars.a-override.main-menu-icon.dropdown-toggle{ class: "a-black h-black" }
          %ul.dropdown-menu
            - if current_user
              %li
                %i.fa.fa-user.fa-fw
                = link_to "My Dashboard", user_path(current_user)
              %li.divider
              %li
                %i.fa.fa-user.fa-fw
                = link_to "Update Account", edit_user_registration_path
              %li
                %i.fa.fa-key.fa-fw
                = link_to "Change Password", edit_user_password_path
              %li
                %i.fa.fa-cog.fa-fw
                Preferences
              %li.divider
              %li
                %i.fa.fa-times.fa-fw
                = link_to "Log Out", destroy_user_session_path, method: :delete
            - else
              %li
                %i.fa.fa-user.fa-fw
                = link_to "Log In", new_user_session_path
              %li
                %i.fa.fa-user.fa-fw
                = link_to "Sign Up", new_user_registration_path
        .side-menu-container{ class: "#{color} #{page_type}" }
          - if current_user
            .top-nav-bar
              .nav-item.nav-item-map{ class: page_type }
                %span.icon-map4
              .nav-item.nav-item-list{ class: page_type }
                %i.fa.fa-th-large
              .nav-item.nav-item-new.raised{ class: page_type }
                %i.fa.fa-plus-circle
              .nav-item.nav-item-feed{ class: page_type }
                %i.fa.fa-inbox
              .nav-item.nav-item-share{ class: page_type }
                %i.fa.fa-paper-plane
          - else
            %strong.a-override.h-neon{ class: "a-#{color}" }= link_to "SIGN UP", new_user_registration_path
            %span.divider= "|"
            %strong.a-override.a-gray.h-neon= link_to "LOG IN", new_user_session_path

.init-header-space


