.container.timeline
 
  %div{ class: 'one-third column' }
 
    .highlight-tab
      .highlight-content.header
        %b= "See & Do"
        Highlights
        = image_tag "icon_sight_highlights.png"
      .highlight-content.stars
        %ul
          - @plan.legs.each do |leg|
            - leg.days.each do |day|
              - day.items_with_stars.each do |item|
                - if item.is_sight?
                  %li= link_to "<b>#{item.name.titleize}</b>#{", " unless item.category == ''}#{item.category.titleize}#{" in " unless item.country || item.city == false || item.city == nil}#{" in " unless item.country == false || item.country == nil}#{item.city.titleize unless item.city == false || item.city == nil}#{item.country.titleize unless item.city || item.country == false || item.country == nil}".html_safe, print_plan_path
      .highlight-content.ups
        %ul
          - @plan.legs.each do |leg|
            - leg.days.each do |day|
              - day.items_with_ups.each do |item|
                - if item.is_sight?
                  %li= link_to "<b>#{item.name.titleize}</b>#{", " unless item.category == ''}#{item.category.titleize}#{" in " unless item.country || item.city == false || item.city == nil}#{" in " unless item.country == false || item.country == nil}#{item.city.titleize unless item.city == false || item.city == nil}#{item.country.titleize unless item.city || item.country == false || item.country == nil}".html_safe, print_plan_path
      .highlight-content.toplist
  
  %div{ class: 'one-third column' }    
  
    .highlight-tab
      .highlight-content.header
        %b= "Eat & Drink"
        Highlights
        = image_tag "icon_food_highlights.png"
      .highlight-content.stars
        %ul
          - @plan.legs.each do |leg|
            - leg.days.each do |day|
              - day.items_with_stars.each do |item|
                - if item.is_food? || item.is_coffeetea? || item.is_bar?
                  %li= link_to "<b>#{item.name.titleize}</b>#{", " unless item.category == ''}#{item.category.titleize}".html_safe, print_plan_path
      .highlight-content.ups
        %ul
          - @plan.legs.each do |leg|
            - leg.days.each do |day|
              - day.items_with_ups.each do |item|
                - if item.is_food? || item.is_coffeetea? || item.is_bar?
                  %li= link_to "<b>#{item.name.titleize}</b>#{", " unless item.category == ''}#{item.category.titleize}".html_safe, print_plan_path
      .highlight-content.toplist

  %div{ class: 'one-third column' }

    .highlight-tab
      .highlight-content.header
        %b= "Sleep & Relax"
        Highlights
        = image_tag "icon_lodging_highlights.png"
      .highlight-content.stars
        %ul
          - @plan.legs.each do |leg|
            - leg.days.each do |day|
              - day.items_with_stars.each do |item|
                - if item.is_lodging? || item.is_camping? || item.is_relax?
                  %li= link_to "<b>#{item.name.titleize}</b>#{", " unless item.category == ''}#{item.category.titleize}#{" in " unless item.city == false}#{item.city.titleize unless item.city == false}".html_safe, print_plan_path
      .highlight-content.ups
        %ul
          - @plan.legs.each do |leg|
            - leg.days.each do |day|
              - day.items_with_ups.each do |item|
                - if item.is_lodging? || item.is_camping? || item.is_relax?
                  %li= link_to "<b>#{item.name.titleize}</b>#{", " unless item.category == ''}#{item.category.titleize}#{" in " unless item.city == false}#{item.city.titleize unless item.city == false}".html_safe, print_plan_path
      .highlight-content.toplist
