/ OLD

/ .container.timeline
 
/   %div{ class: 'one-third column' }
 
/     .highlight-tab
/       .highlight-content.header
/         %b= "See & Do"
/         Highlights
/         = image_tag "icon_sight_highlights.png"
/       .highlight-content.stars
/         %ul
/           - @plan.legs.each do |leg|
/             - leg.days.each do |day|
/               - day.items.starred.each do |item|
/                 - if item.is?(:sight)
/                   %li= link_to_print(item, @plan)
/       .highlight-content.ups
/         %ul
/           - @plan.legs.each do |leg|
/             - leg.days.each do |day|
/               - day.items.marked_up.each do |item|
/                 - if item.is?(:sight)
/                   %li= link_to_print(item, @plan)
/       .highlight-content.toplist
  
/   %div{ class: 'one-third column' }    
  
/     .highlight-tab
/       .highlight-content.header
/         %b= "Eat & Drink"
/         Highlights
/         = image_tag "icon_food_highlights.png"
/       .highlight-content.stars
/         %ul
/           - @plan.legs.each do |leg|
/             - leg.days.each do |day|
/               - day.items.starred.each do |item|
/                 - if item.is?(:food) || item.is?(:cafe) || item.is?(:drink)
/                   %li= link_to "<b>#{item.name.titleize}</b>#{", " unless item.category == ''}#{item.category.titleize}".html_safe, print_plan_path
/       .highlight-content.ups
/         %ul
/           - @plan.legs.each do |leg|
/             - leg.days.each do |day|
/               - day.items.marked_up.each do |item|
/                 - if item.is?(:food) || item.is?(:cafe) || item.is?(:drink)
/                   %li= link_to "<b>#{item.name.titleize}</b>#{", " unless item.category == ''}#{item.category.titleize}".html_safe, print_plan_path
/       .highlight-content.toplist

/   %div{ class: 'one-third column' }

/     .highlight-tab
/       .highlight-content.header
/         %b= "Sleep & Relax"
/         Highlights
/         = image_tag "icon_lodging_highlights.png"
/       .highlight-content.stars
/         %ul
/           - @plan.legs.each do |leg|
/             - leg.days.each do |day|
/               - day.items.starred.each do |item|
/                 - if item.is?(:lodging) || item.is?(:camping) || item.is?(:relax)
/                   %li= link_to_print(item, @plan)
/       .highlight-content.ups
/         %ul
/           - @plan.legs.each do |leg|
/             - leg.days.each do |day|
/               - day.items.marked_up.each do |item|
/                 - if item.is?(:lodging) || item.is?(:camping) || item.is?(:relax)
/                   %li= link_to_print(item, @plan)
/       .highlight-content.toplist
