- classes = start + " " + background
.initial-header{ class: classes }
  .container
    %div{ class: 'sixteen columns' }
      .header-container
        .logo-container
          = image_tag "logo_only_#{color}.png", style: "float:left; width: 42px; height: 50px; margin: 10px 10px 10px 0"
          = image_tag "logo_name_only_#{color}.png", style: "float:left; width: 86px; height: 50px; margin: 10px 10px 10px 0"
        .user-icon{ class: color }
          = image_tag "#{color}_anon_user.png", style: "float:right;", html: { border: "0" }
        %ul.menu-top
          %li.menu-link{ class: color }= link_to 'PRINT', print_plan_path
          / %li.menu-link{ class: color }= link_to 'IMPORT NEW', new_plan_path
          / %li.menu-link{ class: color }= link_to 'LAUNCH', print_plan_path
          / %li.menu-link{ class: color }= link_to 'BUILD', new_plan_path
          / %li.menu-link{ class: color }= link_to 'DREAM', "#"