.container
  %div{ class: 'sixteen columns' }
    .title-and-caption-band
      .title-and-caption-wrap
        .title-and-caption-content
          %a{href: "#content_begins"}
            = image_tag 'down_bubble.png', html: { height: "55", src: "down_bubble.png", width: "55" }
          .moneyshot-title
            = @plan.title
          |
          .moneyshot-duration= "#{@plan.total_days} days"
          .moneyshot-caption
            = "\"#{@plan.moneyshot.subtitle}\""
            %a{href: @plan.moneyshot.source_url}= "@#{@plan.moneyshot.source}" if @plan.moneyshot.source
