.logo-container
  = link_to root_path do
    = image_tag "logo_only_black.png", alt: 'o', class: "logo-image-top large-screen" if !browser.mobile?
    = image_tag "logo_only_white.png", alt: 'o', class: "logo-image-top mobile" if browser.mobile?
    = image_tag "logo_my_only.png", alt: 'MY', class: "logo-my-top large-screen" if @user && @user == current_user && !browser.mobile?
    = image_tag "logo_name_only_black.png", alt: 'PLANIT', class: "logo-name-top large-screen" if !browser.mobile?
  = image_tag('logo_guides_only.png', alt: 'GUIDES', class: 'logo-title-top guides largest-screen') if page_type == 'guides' || 'home' if !browser.mobile?
  = image_tag('logo_guide_only.png', alt: 'GUIDE', class: 'logo-title-top guide largest-screen') if page_type == 'plan' if !browser.mobile?
  = image_tag('logo_map_only.png', alt: 'MAP', class: 'logo-title-top map largest-screen') if page_type == 'places' if !browser.mobile?
  = image_tag('logo_inbox_only.png', alt: 'INBOX', class: 'logo-title-top inbox largest-screen') if page_type == 'inbox' if !browser.mobile?
  = image_tag('logo_new_only.png', alt: 'ADD NEW', class: 'logo-title-top new largest-screen') if page_type == 'new' if !browser.mobile?