= link_to root_path do
  = image_tag "its_your_#{color}.png", alt: "IT'S YOUR", class: "logo-itsyour-top"
  = image_tag "logo_only_#{color}.png", alt: "o", class: "logo-image-top"
  = image_tag "logo_name_only_#{color}.png", alt: "PLANIT", class: "logo-name-top"
  = image_tag "ellipsis_#{color}.png", alt: "...", class: "logo-ellipsis-top"
