.modal.planit-modal.fade#planit-modal-new{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content

      .inner-directive-container{ ng_if: 'directive' }
        {{ directive }}
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title= "Add a New Pin"

        %directive 

      .confirm
        .modal-body
          %ul
            %li.like-container
              .bucket-list-tab.like-container
                %a.place-link
                  .bucket-list-img
                    .choose-another-img= "Another"
                .bucket-list-wrap.like-container
                  .bucket-list-profile
                    %a.place-link
                      .bucket-list-title
                      .bucket-list-more-info
                        %i.icon
                        %span.categories
                      .bucket-list-more-info.bucket-list-address
                      .bucket-list-more-info.bucket-list-locale
                    / .add-to-extras
                    /   %input{ value: 'Add to plan'}
                    / .add-to-extras
                    /   %input{ value: 'Add note'}
                    / .add-to-extras
                    /   %input{ value: 'Recommended by'}
        .modal-footer
          %button.planit-button.cancel.gray{"data-dismiss" => "modal", :type => "button"} 
            Reject
            %i.fa.fa-times.pad-left
          %button.planit-button.blue{:id => "planit-modal-submit-new", :type => "button"} 
            Edit
            %i.fa.fa-pencil.pad-left
          %button.planit-button.neon{:id => "planit-modal-submit-new", :type => "button"} 
            Confirm & Save
            %i.fa.fa-check.pad-left

      .loading
        .modal-body
          .message-box
            %i.fa.fa-spinner.fa-spin
            %span= "Working on it..."
        .modal-footer
          %button.planit-button.cancel.gray{"data-dismiss" => "modal", :type => "button"} Cancel

      .choose
        .modal-body
          .message-box
            %i.fa.fa-exclamation-triangle
            %a.choices= "Well we found something..."
        .modal-footer
          %button.planit-button.cancel.gray{"data-dismiss" => "modal", :type => "button"} Cancel
          %button.planit-button.blue{"data-dismiss" => "modal", :type => "button"}
            Retry
            %i.fa.fa-times.pad-left

      .error
        .modal-body
          .message-box
            %i.fa.fa-exclamation-triangle
            %span= "We couldn't find that..."
        .modal-footer
          %button.planit-button.cancel.gray{"data-dismiss" => "modal", :type => "button"} Cancel
          %button.planit-button.blue{"data-dismiss" => "modal", :type => "button"} Retry

      .initiate
        .modal-body
          %form{:id => "planit-modal-form-new"}
            .form-group
              %label.control-label{:for => "new-pin-query"} Name:
              .clear-input-box
                %input#query.form-control.input-with-clear.new-pin-query{:placeholder => "Place or Destination", :type => "text"}/
                %span.clear-input-button
                  %i.fa.fa-times-circle
            .form-group
              %label.control-label{:for => "new-pin-nearby"} Near:
              .clear-input-box
                %input#nearby.form-control.input-with-clear.new-pin-nearby{:placeholder => "Location", :type => "text"}/
                %span.clear-input-button
                  %i.fa.fa-times-circle
        .modal-footer
          %a{:href => "https://developer.foursquare.com/"}
            %img.poweredbyfoursquare{:alt => "foursquare", :src => "https://ss0.4sqi.net/img/devsite/img_poweredby-181a0c7c0fe5f3576d97bcf29ce69d24.png"}/
          %button.planit-button.cancel.gray{"data-dismiss" => "modal", :type => "button"} Cancel
          %button.planit-button.neon{:id => "planit-modal-submit-new", :type => "button"} Add
