.modal.planit-modal.fade#planit-modal-share{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      = form_for(Share.new) do |f|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title= "Share the Love"
        .modal-body
          .form-group
            %label.control-label{:for => "email"}= "Share #{title} with:"
            .clear-input-box
              = text_field_tag "share[email]", nil, class: 'form-control input-with-clear', :placeholder => "Email Address"
              %span.clear-input-button
                %i.fa.fa-times-circle
          .form-group
            %label.control-label{:for => "note"} Personal Note:
            = text_area_tag "share[notes]", nil, class: 'form-control share-textarea'
        .modal-footer
          %button.planit-button.gray{"data-dismiss" => "modal", :type => "button"} Cancel
          = f.submit 'Share', class: 'planit-button neon', id: 'planit-modal-submit-share'