- unless page_type == 'beta'

  #planit-header.except-landscape{ class: "#{browser.mobile? ? 'black' : 'white'} #{page_type}" }

    - if page_type != 'simple'

      .container.none{ class: "#{'pseudo' if page_type == 'places'}"}
        .header-wrapper
          = render 'header/logo_container', { page_type: page_type }

          - if current_user_is_active # admin or member

            .mobile.page-title= "PLANIT" if browser.mobile? && !show_search?(page_type)
            .top-menu-container
              %a.main-menu-dropdown.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }= render 'header/user_avatar'
              = render 'header/dropdowns/main_menu'
            - if !browser.mobile?
              .side-menu-container.large-screen.inline
                .top-nav-bar{ ng_controller: 'NavBarCtrl' }= render 'application/nav_bar', { page_type: page_type }

            .search-and-filter-wrap
              %expanding_header_search{ show_teaser: "#{show_search?(page_type)}" }
              - include_templates :expanding_header_search, :search_and_add

          - elsif current_user # inactive user

            .top-menu-container
              = link_to destroy_user_session_path, :method => 'delete' do
                = render 'header/user_avatar'
            .side-menu-container.large-screen.inline
              %strong.a-override.a-gray.h-neon= link_to "LOG OUT", destroy_user_session_path, :method => 'delete'

          - else # no log-in yet

            .top-menu-container
              = link_to new_user_session_path do
                = render 'header/user_avatar'
            .side-menu-container.large-screen.inline
              %strong= "REQUEST INVITE"
              %span.divider= "|"
              %strong.a-override.a-gray.h-neon= link_to "LOG IN", new_user_session_path

    - else # mostly devise pages

      .simple-header-top= render 'header/simple', { color: "#{browser.mobile? ? 'white' : 'black'}" }

  - unless fullscreen?(page_type)
    #header-spacing.except-landscape