= current_user.decorate.nav_item_map(page_type)
= current_user.decorate.nav_item_list(page_type)
= current_user.decorate.nav_item_new(page_type)
= current_user.decorate.nav_item_inbox(page_type, current_user.messages)
= current_user.decorate.nav_item_share(page_type)
