.nav-item.nav-item-new{ class: "#{ 'selected' if browser.mobile? && page_type == 'dashboard' }" }
  %i.nav-item-icon.fa{ class: "#{ 'fa-home' if browser.mobile? }#{ 'fa-plus-circle' if !browser.mobile? }" }
  .nav-item-hint
    %span= "#{'HOME' if browser.mobile? }#{'ADD NEW' if !browser.mobile?}"
