- if plan.present?

  .any-tab-wrapper
    .guide-item-count.numbered-box= plan.items.count
    .content-tab
      .tab-operations
        .tab-operations-button
          .i.fa.fa-calendar
        .tab-operations-button
          .i.fa.fa-pencil
        .tab-operations-button
          .i.fa.fa-heart
        .tab-operations-button
          .i.fa.fa-check-circle
        .tab-operations-button
          .i.fa.fa-trash
      - if image = plan.best_image
        - if image.url.present?
          = link_to image_tag(image.url), plan_path(plan), class: 'content-tab-img'
        - else
          = link_to plan_path(plan) do
            .content-tab-img.add-photo
              %i.add-photo-camera.fa.fa-camera-retro
      - else
        = link_to plan_path(plan) do
          .content-tab-img.add-photo
            %i.add-photo-camera.fa.fa-camera-retro
    = link_to plan.name, plan_path(plan), class: "content-tab-title"

/ - else

/   .any-tab-wrapper
/     .content-tab.add-new
/       .content-tab-img.add-new
/         %i.fa.fa-book
/       = link_to "Create New Guide", root_path, class: "content-tab-title"