.print-cover-wrap
  .print-page-header
    %strong
      - if @plan.name.present?
        = @plan.name
      - else
        = @plan.overall_locale
    - leg_num = "#{@plan.legs.count} legs" unless @plan.legs.count < 2
    - day_num = "#{@plan.days.count} days" unless @plan.days.count < 2
    - if leg_num || day_num
      = [leg_num, day_num].join(": ")
    - else
      = "(a mini-plan)"
  .empty-print-map-canvas.page
    %map.print-map-canvas.page{ coordinates: @plan.coordinates, type: "print" }

.break-page

- if @plan.tips.present?
  .print-header-subtitle
    Summary, Tips & Reminders
    - @plan.tips.each do |tip|
      .content-tab-wrap
        .content-tab-print.time
          = "-"
        .content-tab-print.tips
          = tip.html_safe

/ - if @plan.has_travel?
/   .print-header-subtitle
/     Transit & Transportation
/   - @plan.legs.each_with_index do |leg, index|
/     = render partial: 'legs/print_travel', locals: { leg: leg } 

- if @plan.has_lodging?
  .print-header-subtitle Accomodations

  - @plan.items.with_lodging.each_with_index do |lodging_item, index|
    .content-tab-wrap
      .content-tab-print.time= image_tag "lodging-is-#{category(lodging_item)}.png"  
      .content-tab-print.travel
        = print_lodging(lodging_item, index)
        - if lodging_item.notes
          %span.lodging-notes= lodging_item.notes.html_safe

/ - if @plan.tips || @plan.has_travel? || @plan.has_lodging?
- if @plan.tips || @plan.tips.length > 0 || @plan.has_lodging?
  .break-page
