.exit-view
  %a{href: plan_path} Exit Print View
.logo-container
  = image_tag "white_logo.png"
  = image_tag "white_tagline.png", id: "tagline"
=image_tag "#{image_path @data.moneyshots[0]['url']}", style: "width: 750px", html: { border: "0" }
.moneyshot-caption= "\"#{@data.moneyshots[0]['subtitle']}\""
.title-and-caption-wrap
  .moneyshot-title
    = @data.title
  |
  .moneyshot-duration= "#{@data.legs.length} legs / #{leg_end(@data.legs.compact.last)['parent_day']} days"

.break-page
// break page

.print-page-header
  = image_tag "black_logo_only.png"
  %strong
    = "#{@data.title}:"
  .cluster-info
    Overview

#map-overview{ style: 'height: 750px; width: 750px; '}
/ Overview coordinates is in the plan helper
%leg_map{ icon: image_path('pin_sm_red_19x22.png'), coordinates: overview_coordinates(@data), map_id: 'map-overview'}

.break-page
// break page

.print-page-header
  = image_tag "black_logo_only.png"
  %strong
    = "#{@data.title}:"
  .cluster-info
    Summary, Tips & Reminders

.summary-author
  = "#{@data.author}, #{@data.trailblaze_date}"
.summary-content
  = @data.summary_text

Tips
Reminders

.break-page
// break page

.print-page-header
  = image_tag "black_logo_only.png"
  %strong
    = "#{@data.title}:"
  .cluster-info
    Transit & Transportation

Flights


.break-page
// break page

.print-page-header
  = image_tag "black_logo_only.png"
  %strong
    = "#{@data.title}:"
  .cluster-info
    Accomodations

Lodging by unique item

- @data.legs.each_with_index do |leg, index|
  .break-page
  // break page
  .print-page-header
    = image_tag "black_logo_only.png"
    .timeline-cluster{ class: "no#{index + 1}" }
    %strong
      = "#{@data.title}"
    .cluster-info
      = leg['name']
      %b= " (Day #{leg_start(leg)['parent_day']} to #{leg_end(leg)['parent_day']})"
  .leg-map-container{ id: "mapLeg#{index}" }
    .cluster-caption{ style: "z-index: 200"}
      = "From #{leg_start(leg)['name']} to #{leg_end(leg)['name']}"
    %leg_map{ icon: image_path('pin_sm_red_19x22.png'), coordinates: leg_coordinates(leg), map_id: "mapLeg#{index}" }
  
  .print-end
  .break-page
  // break page

  .print-page-header
    = image_tag "black_logo_only.png"
    .timeline-cluster{ class: "no#{index + 1}" }
    %strong
      = "#{@data.title}"
    .cluster-info
      = leg['name']
      %b= " (Day #{leg_start(leg)['parent_day']} to #{leg_end(leg)['parent_day']})"
  - if leg['arrival']
    = "Arrive by #{leg['arrival']['method']}"
    .print-end
  - days(leg).each_with_index do |day, index|
    %br NEW DAY
    - day['items'].each_with_index do |item, index|
      .content-tab-wrap
        .content-tab-print.time
          .plan-content-time.afternoon
          / .plan-content-time{ class: day_group }
          .content-tab-timestamp
            - if day['time_of_day']
              = "#{day['time_of_day']}, "  
            - if @data.start_date
              - d = @data.start_date + item['parent_day'].days
              = d.strftime("%b %d, %Y")
        .content-tab-print.image
          .content-tab-title
            - if item['name']
              %b= item['name']
          - if item['tab_image']
            = image_tag item['tab_image'], {style: "height: 120px; width: 180px;"}
        .content-tab-print.info
          - if item['lodging']
            .content-tab-more-info
              Stay the night (
              - if @data.start_date
                = "#{d.strftime ("%m/%d/%Y")} )"
          - if item['category']
            .content-tab-more-info
              = item['category']
          - if item['notes']
            .content-tab-more-info
              = item['notes']
          - if item['website']
            .content-tab-more-info
              = item['website']
          - if item['phone']
            .content-tab-more-info
              = item['phone']
          - if item['source']
            .content-tab-get-more
              %b= "#{item['source']}"
              ="#{item['source_url']}"
        .content-tab-print.location
          .content-tab-timestamp
            - if item['local_name']
              - if item['local_name'].downcase != item['name'].downcase
                = " (#{item['local_name']})"
              - else
                = "-"
          - if item['lat'] && item['lon']
            .item-map-container{id: "mapLeg#{item['parent_cluster']}_#{item['parent_day']}_#{index}"}
              %leg_map{ icon: image_path('pin_sm_red_19x22.png'), coordinates: coordinate(item), map_id: "mapLeg#{item['parent_cluster']}_#{item['parent_day']}_#{index}" }
          - else
            = image_tag "no_map_180x180.png", {style: "height: 180px; width: 180px"}
          - if item['address']
            .content-tab-more-info
              = item['address']

  - if leg['departure']
    .timeline-travel{ class: leg['departure']['method']}
    .travel-info
      = "Depart by #{leg['departure']['method']}"
  .print-end

.footer
  .footer-content
    Print Version
