.exit-view
  %a{href: plan_path} Exit Print View
.logo-container
  = image_tag "white_logo.png"
  = image_tag "white_tagline.png", id: "tagline"
=image_tag "#{image_path @data.moneyshots[0]['url']}", style: "width: 750px", html: { border: "0" }
.moneyshot-caption= "\"#{@data.moneyshots[0]['subtitle']}\""
.print-page-header
  %strong
    = @data.title
  .print-header-subtitle
    = "#{@data.legs.length} legs / #{leg_end(@data.legs.compact.last)['parent_day']} days"

.break-page
// break page

.print-page-header
  = image_tag "black_logo_only.png"
  %strong
    = "#{@data.title}:"
  .print-header-subtitle
    Overview

#map-overview{ style: 'height: 750px; width: 750px; '}
/ Overview coordinates is in the plan helper
%map{ icon: image_path('pin_sm_red_19x22.png'), coordinates: overview_coordinates(@data), map_id: 'map-overview', type: 'print'}

.break-page
// break page

.print-page-header
  = image_tag "black_logo_only.png"
  %strong
    = "#{@data.title}:"
  .print-header-subtitle
    Summary, Tips & Reminders

.summary-author
  = "#{@data.author}, #{@data.trailblaze_date}"
.summary-content
  = @data.summary_text

Tips
Reminders

.break-page
// break page

.print-page-header
  = image_tag "black_logo_only.png"
  %strong
    = "#{@data.title}:"
  .print-header-subtitle
    Transit & Transportation

Flights


.break-page
// break page

.print-page-header
  = image_tag "black_logo_only.png"
  %strong
    = "#{@data.title}:"
  .print-header-subtitle
    Accomodations

Lodging by unique item

- @data.legs.each_with_index do |leg, index|
  .break-page
  // break page
  .print-page-header
    = image_tag "black_logo_only.png"
    .timeline-cluster{ class: "no#{index + 1}" }
    %strong
      = "#{@data.title}"
    .print-header-subtitle
      = leg['name']
      %b= " (Day #{leg_start(leg)['parent_day']} to #{leg_end(leg)['parent_day']})"
  .map-container{ id: "map#{index}" }
  %map{ icon: image_path('pin_sm_red_19x22.png'), coordinates: leg_coordinates(leg), map_id: "map#{index}", type: 'print' }
  
  .print-end
  .break-page
  // break page

  .print-page-header
    = image_tag "black_logo_only.png"
    .timeline-cluster{ class: "no#{index + 1}" }
    %strong
      = "#{@data.title}"
    .print-header-subtitle
      = leg['name']
      %b= " (Day #{leg_start(leg)['parent_day']} to #{leg_end(leg)['parent_day']})"
  - if leg['arrival']
    .content-tab-wrap
      .content-tab-print.time
        .timeline-travel{class: leg['arrival']['method']}
      .content-tab-print.travel
        = "Arrive by "
        %b= "#{leg['arrival']['method']}"
  - days(leg).each_with_index do |day, index|
    .content-tab-wrap
      .content-tab-print.time
        .plan-content-date{ class: "no#{day['items'][0]['parent_day']}" }
      .content-tab-print.date
        %b= "Day #{day['items'][0]['parent_day']}"
        - if @data.start_date
          = ": #{display_date(@data, day['items'][0]).strftime('%b %d, %Y')}"
    - day['items'].each_with_index do |item, index|
      .content-tab-wrap
        .content-tab-print.time
          .plan-content-time.afternoon
          / .plan-content-time{ class: day_group }
          .content-tab-timestamp
            - if day['time_of_day']
              = "#{day['time_of_day']}, "  
            - if @data.start_date
              = display_date(@data, item).strftime("%b %d, %Y")
        .content-tab-print.image
          .content-tab-title
            - if item['name']
              %b= item['name']
          - if item['tab_image']
            = image_tag item['tab_image'], {style: "height: 120px; width: 180px;"}
        .content-tab-print.info
          - if item['lodging']
            .content-tab-more-info
              - if @data.start_date
                = "Stay the night (#{display_date(@data, item).strftime ("%m/%d/%Y")})"
          - if item['category']
            .content-tab-more-info
              = item['category']
          - if item['notes']
            .content-tab-more-info
              %b Notes:
              = item['notes']
          - if item['website']
            .content-tab-more-info
              %b Website:
              = item['website']
          - if item['phone']
            .content-tab-more-info
              %b Phone:
              = item['phone']
          - if item['source']
            .content-tab-get-more
              %b= "#{item['source']}"
              ="#{item['source_url']}"
        .content-tab-print.location
          - if item['local_name'] && item['local_name'].downcase != item['name'].downcase
            .content-tab-timestamp
              = " (#{item['local_name']})"
          - if item['lat'] && item['lon']
            .item-map-container{id: "map#{item['parent_cluster']}_#{item['parent_day']}_#{index}"}
              %map{ icon: image_path('pin_sm_red_19x22.png'), coordinates: coordinate(item), map_id: "map#{item['parent_cluster']}_#{item['parent_day']}_#{index}", type: "detail" }
          - else
            = image_tag "no_map_180x180.png", {style: "height: 180px; width: 180px"}
          - if item['address']
            .content-tab-more-info
              = item['address']

  - if leg['departure']
    .content-tab-wrap
      .content-tab-print.time
        .timeline-travel{class: leg['departure']['method']}
      .content-tab-print.travel
        = "Depart by "
        %b= "#{leg['departure']['method']}"
  .print-end

.break-page

.footer
  .footer-content
    Print version message
