// ESCAPE VIEW
.exit-view
  %a{href: plan_path}
    .fa.fa-arrow-circle-left{ style: "padding-right: 10px; padding-left: 3px"} 
    Exit Print View

= render 'print_header'

// SECTION BY SECTION

- @plan.legs.each_with_index do |leg, index|
  .print-header-subtitle
    - if leg.name.present?
      = leg.name
    - else 
      = leg.overall_locale
    - if leg.days.length != 1 && @plan.legs.length != 1
      %b= "(Day #{leg.first_day.order} to #{leg.last_day.order})"

  / - if leg.arrival
  /   .content-tab-wrap
  /     .content-tab-print.time= image_tag "travel-by-#{leg.arrival.mode}.png"
  /     .content-tab-print.travel
  /       = "Arrive by "
  /       %b= "#{leg.arrival.mode}"
  /       = " - "
  /       = print_travel(leg.arrival.terminus, '0')

  - leg.days.each_with_index do |day, day_index|
    = render partial: 'days/print_day', locals: { day: day, index: day_index }

  / - if leg.departure
  /   .content-tab-wrap
  /     .content-tab-print.time
  /       = image_tag "travel-by-#{leg.departure['method']}.png"
  /     .content-tab-print.travel
  /       = "Depart by "
  /       %b= "#{leg.departure['method']}"
  /       - if leg.departure['travel_data']
  /         = " - "
  /         = print_travel(leg.departure['travel_data'].first, '0')

  - if @plan.bucket.present?
    / - locale_list = get_locale_list(@plan.bucket)
    / - if locale_list.uniq.length > 0
    /   - locale_list.uniq.each_with_index do |locale, index|
    = render partial: 'legs/print_bucket', locals: { bucket_locale: nil, bucket: @plan.bucket, index: index }

.clear

.footer
  .footer-content 
    %strong= "Planit"
    = "print-copy of '#{@plan.name}'"