.exit-view
  %a{href: plan_path} Exit Print View
.logo-container.print
  = image_tag "white_logo.png"
  = image_tag "white_tagline.png", id: "tagline"
=image_tag "#{image_path @data.moneyshots[0]['url']}", style: "width: 750px", html: { border: "0" }
.moneyshot-caption.print= "\"#{@data.moneyshots[0]['subtitle']}\""
.title-and-caption-wrap.print
  .moneyshot-title.print
    = @data.title
  |
  .moneyshot-duration.print= "#{@data.legs.length} legs / #{leg_end(@data.legs.compact.last)['parent_day']} days"

.break-page
// break page

.print-page-header
  = image_tag "black_logo_only.png"
  %strong
    = "#{@data.title}:"
  .cluster-info.print
    Overview

#map-overview{ style: 'height: 750px; width: 750px; margin-top: 15px;'}
/ Overview coordinates is in the plan helper
%leg_map{ icon: image_path('pin_sm_red_19x22.png'), coordinates: overview_coordinates(@data), map_id: 'map-overview'}

.break-page
// break page

.print-page-header
  = image_tag "black_logo_only.png"
  %strong
    = "#{@data.title}:"
  .cluster-info.print
    Summary, Tips & Reminders

.summary-author.print
  = "#{@data.author}, #{@data.trailblaze_date}"
.summary-content.print
  = @data.summary_text

Tips
Reminders

.break-page
// break page

.print-page-header
  = image_tag "black_logo_only.png"
  %strong
    = "#{@data.title}:"
  .cluster-info.print
    Transit & Transportation

Flights


.break-page
// break page

.print-page-header
  = image_tag "black_logo_only.png"
  %strong
    = "#{@data.title}:"
  .cluster-info.print
    Accomodations

Lodging by unique item

- @data.legs.each_with_index do |leg, index|
  .break-page
  // break page
  .print-page-header
    = image_tag "black_logo_only.png"
    .timeline-cluster.print{ class: "no#{index + 1}" }
    %strong
      = "#{@data.title}"
    .cluster-info.print
      = leg['name']
      %b= " (Day #{leg_start(leg)['parent_day']} to #{leg_end(leg)['parent_day']})"
  .leg-map-container.print{ id: "mapLeg#{index}" }
    .cluster-caption{ style: "z-index: 200"}
      = "From #{leg_start(leg)['name']} to #{leg_end(leg)['name']}"
    %leg_map{ icon: image_path('pin_sm_red_19x22.png'), coordinates: leg_coordinates(leg), map_id: "mapLeg#{index}" }
  
  .print-end
  .break-page
  // break page

  .print-page-header
    = image_tag "black_logo_only.png"
    .timeline-cluster.print{ class: "no#{index + 1}" }
    %strong
      = "#{@data.title}"
    .cluster-info.print
      = leg['name']
      %b= " (Day #{leg_start(leg)['parent_day']} to #{leg_end(leg)['parent_day']})"
  - if leg['arrival']
    = "Arrive by #{leg['arrival']['method']}"
  - days(leg).each_with_index do |day, index|
    - day['items'].select{ |i| i['has_tab'] }.each do |item, index|
      .content-tab-wrap.print
        .content-tab-print.icons
          .plan-content-time.afternoon.print
          / .plan-content-time.print{ class: day_group }
        .content-tab-print.image
          .content-tab-timestamp
            - if day['time_of_day']
              = "#{day['time_of_day']}, "  
            - if @data.start_date
              - d = @data.start_date + item['parent_day'].days
              = d.strftime("%b %d, %Y")
          - if item['tab_image']
            = image_tag item['tab_image'], {style: "height: 120px; width: 180px;"}
        .content-tab-print.info
          .content-tab-title.print
            - if item['name']
              %b= item['name']
            - if item['local_name']
              - if item['local_name'].downcase != item['name'].downcase
                = " (#{item['local_name']})"
          - if item['notes']
            .content-tab-more-info.print
              = item['notes']
          - if item['source']
            .content-tab-get-more.print
              %b Source:
              = item['source']
        .content-tab-print.map
          .content-tab-timestamp
            = item['local_name']
          - if item['lat'] && item['lon']
            .item-map-container{id: "mapLeg#{item['name']}"}
              %leg_map{ icon: image_path('pin_sm_red_19x22.png'), coordinates: coordinate(item), map_id: "mapLeg#{item['name']}" }

  - if leg['departure']
    .timeline-travel{ class: leg['departure']['method']}
    .travel-info
      = "Depart by #{leg['departure']['method']}"
  .print-end

.footer
  .footer-content
    This project is being tested privately among friends and family -- please share any feedback you have with us via 
    %a{ href: "mailto:planit@longhou.se" } planit@longhou.se
