- title( @plan.name )
- page_type('plan')

#show-plan-page{ ng_controller: 'Plans.ShowCtrl' }

  .plan-map-container{ ng_class: "{'expanded': mapExpanded}" }
    %div#expand-map-button{ ng_click: 'contractOrExpandMap()', ng_class: "{'expanded': mapExpanded}" }
      %i.fa.fa-expand.fa-flip-horizontal
    %plan_map.plan-map-canvas{ plan_id: @plan.id, current_user_id: current_user_id, type: 'plan' }
      .plan-name-and-detail-container{ ng_show: '!mapExpanded' }
        .plan-name-wrap.clearfix
          %span.plan-name= @plan.name
        = @plan.decorate.show_plan_dates

  .plan-items-container{ ng_show: '!mapExpanded' }
    - @plan.legs.each_with_index do |leg, index|
      = leg.decorate.show_leg_name
      - leg.days.each_with_index do |day, index|
        .band.gray.spaced
          .container
            .three.columns.day-info-wrap
              .day-number-separator
                %span.day-info.number= "DAY #{index + 1}"
              .day-info-separator
                = day.decorate.show_locales_in_day
                = day.decorate.show_distances_in_day
                - lodging_list = get_lodging_list(day.items)
              .day-wingtip
            .thirteen.columns.day-tab-wrap
              - day.items.includes(mark: :place).sort {|a,b| a[:order] <=> b[:order]}.each_with_index do |item, item_index|
                .column= render 'items/item_tab', { item: item }
              .column= render 'items/item_tab', { item: nil }

    .band.gray.spaced
      .container
        .three.columns.day-info-wrap
          .day-number-separator
            %span.day-info.number= "BUCKET"
          .day-info-separator
            = @plan.decorate.show_locales_in_bucket
          .day-wingtip
        .thirteen.columns.day-tab-wrap
          - @plan.bucket.includes(mark: :place).each_with_index do |item, item_index|
            .column= render 'items/item_tab', { item: item }
          .column= render 'items/item_tab', { item: nil }
