/ travel within days (mono),
/ permits/visas as separate line but not cluster?,
/ tab icons if applicable (sleep, food, etc),

/ .printable-content

.initial-header
  .header-container
    .logo-container
      = image_tag "white_logo.png", style: "float:left;"
      = image_tag "white_tagline.png", style: "float:left;", id: "tagline"
    .user-icon.white
      %a{href: "#"}
        = image_tag "white_anon_user.png", style: "float:right;", html: { border: "0" }
    %ul.menu-top
      %li.menu-link.white= link_to 'PRINT', print_plan_path
      %li.menu-link.white= link_to 'IMPORT NEW', new_plan_path
      / %li.menu-link.white= link_to 'LAUNCH', print_plan_path
      / %li.menu-link.white= link_to 'BUILD', new_plan_path
      / %li.menu-link.white= link_to 'DREAM', "#"
.moneyshot{ style: "background-image: url('#{image_path @plan.moneyshot['url']}')" }
  .clickable-moneyshot
  .title-and-caption-wrap
    .title-and-caption-content
      %a{href: "#"}
        = image_tag 'down_bubble.png', html: { height: "55", src: "down_bubble.png", width: "55" }
      .moneyshot-title
        = @plan.title
      |
      .moneyshot-duration= "#{@plan.legs.length} legs / #{@plan.last_day} days"
      .moneyshot-caption
        = "\"#{@plan.moneyshot['subtitle']}\""
        %a{href: @plan.moneyshot['source_url']}= "@#{@plan.moneyshot['source']}" if @plan.moneyshot['source']
.persistent-header
  .header-container
    .logo-container
      = image_tag "black_logo.png"
    .header-title
      = @plan.title
    .user-icon
      %a{href: "#"}
        = image_tag "black_anon_user.png"
    %ul.menu-top
      %li.menu-link.black= link_to 'PRINT', print_plan_path 
      %li.menu-link.black= link_to 'IMPORT NEW', new_plan_path

.body-container
  .overview
    .summary-map
      %map.overview-map{ icon: image_path('pin_sm_red_19x22.png'), coordinates: @plan.overview_coordinates, type: "leg#{@plan.maptype || ''}" }
    .summary-wrap
      - if @plan.author_icon
        .user-circular{ style: "background-image:url(#{image_path @plan.author_icon})"}
      .summary-author
        = @plan.author
        - if @plan.trailblaze_date
          = ", #{@plan.trailblaze_date}"
      .summary-content
        = @plan.summary_text
  
  - @plan.legs.each_with_index do |leg, index|
    - if leg.arrival
      .body-container
        .timeline-wrap
          .timeline-travel{ class: leg.arrival_method }
          .travel-info
            = "Arrive by #{leg.arrival_method}"
    .body-container{ class: zebra_class(index) }
      .timeline-wrap
        .timeline-cluster{ class: "no#{index + 1}" }
        .cluster-info
          %b 
            / In plan helper
            = "Day #{leg.first_day} to #{leg.last_day}"
            = ":" unless leg.only_leg
          = leg.name unless leg.only_leg
        .plan-cluster-wrap{ class: zebra_class(index) }
          .cluster-map-expandible
            %map.cluster-map{ icon: image_path('pin_sm_red_19x22.png'), coordinates: leg.coordinates, type: "leg#{@plan.maptype || ''}" }
              - unless leg.only_leg
                .cluster-caption
                  = leg.caption
              .cluster-expansion
                Double Click to Expand
        - leg.days.each_with_index do |day, index|
          - day.items.select(&:has_tab).each do 
            / for now okay... later we want to add back lodging, travel, visa/ticketing etcs
            .plan-content-date{ class: "no#{day.day_in_trip}" }
          - day.non_bucketed_items_with_tabs.in_groups_of(4).each_with_index do |day_group, index|
            .plan-content-time.afternoon
            / .plan-content-time{ class: day_group }
            .plan-content-row{ class: zebra_class(day.day_in_trip) }
              - day_group.compact.each do |item|
                .content-tab-wrap
                  .content-tab
                    %a{href: "#"}
                    - if item.tab_image
                      = image_tag item.tab_image
                    - else
                      = image_tag "tab_stand_in.png"
                    .content-tab-title
                      - if item.name
                        = item.name
                      - else
                        %br
                    - if item.local_name && item.local_name_unique?
                      .content-tab-more-name
                        = item.local_name
                    - if item.notes
                      .content-tab-more-info
                        = item.notes
                    - if item.source && item.source_url
                      .content-tab-get-more
                        %b Source:
                        %a{href: item.source_url} #{item.source}
                    - elsif item.source_url
                      .content-tab-get-more
                        %b Source:
                        %a{href: item.source_url} #{item.source_url}

    - if leg.departure
      .body-container
        .timeline-wrap
          .timeline-travel{ class: leg.departure_method}
          .travel-info
            = "Depart by #{leg.departure_method}"

  - if @plan.bucket
    - @plan.bucket.each_with_index do |leg, index|
      .body-container{ class: zebra_class(index) }
        .timeline-wrap
          .timeline-bucketlist
          .cluster-info
            %b 
            Trip-wide Bucket List
          .plan-cluster-wrap{ class: zebra_class(index) }
            .cluster-map-expandible
              %map.cluster-map{ icon: image_path('pin_sm_red_19x22.png'), coordinates: leg.coordinates, type: "leg#{@plan.maptype || ''}" }
                .cluster-expansion
                  Double Click to Expand
          - leg.days.each_with_index do |day, index|
            - day.items.select(&:has_tab).in_groups_of(4).each_with_index do |day_group, index|
              .plan-content-row
                - day_group.compact.each do |item|
                  .content-tab-wrap
                    .content-tab
                      %a{href: "#"}
                      - if item.tab_image
                        = image_tag item.tab_image
                      - else
                        = image_tag "tab_stand_in.png"
                      .content-tab-title
                        - if item.name
                          = item.name
                        - else
                          %br
                      - if item.local_name && item.local_name_unique?
                        .content-tab-more-name
                          = item.local_name
                      - if item.notes
                        .content-tab-more-info
                          = item.notes.html_safe
                      - if item.source && item.source_url
                        .content-tab-get-more
                          %b Source:
                          %a{href: item.source_url} #{item.source}
                      - elsif item.source_url
                        .content-tab-get-more
                          %b Source:
                          %a{href: item.source_url} #{item.source_url}

.footer
  .footer-content
    This is a 
    %b Planit
    = "web-view of '#{@plan.title}', a trip authored by #{@plan.author}"
    .footer-section
      Unless otherwise noted, all images, graphics, and content are the exclusive copyright of Planit and its users, which may freely share access to their private travel plans
    .footer-section
      All images are attributed to source, as reported by our users
    .footer-section
      All maps are deployed with 
      %a{href: "http://leafletjs.com/"}= "Leaflet"
      which is a free tool, and contain
      %a{href: "http://leafletjs.com/"}= "Mapbox"
      map tiles
    .footer-section
      This project is being tested privately among friends and family -- please share any feedback you have with us via 
      %a{href: "mailto:planit@longhou.se"}= "planit@longhou.se"

/ .printable-message
