= render 'show/header', { :background => 'white', :color => 'black', :start => '', :page_type => 'plan' }

.plan-splash
  %map.plan-map-canvas{ icon: image_path('pin_sm_red_19x22.png'), coordinates: @plan.coordinates, names: @plan.items.allnames.join('/+/'), ids: @plan.items.allids.join('+'), path: place_path(@plan.items.first) }
    / .expand-map
    /   .i.fa.fa-expand.fa-flip-horizontal
    .container.upfront-plan-map
      .plan-name-wrap
        %span.plan-name= @plan.name
      - if @plan
        .plan-more-info-wrap
          %span.plan-more-info
            = @plan.created_at.strftime('%b %Y') # back-date to article publishing?
            %i= "|"
            %i= "http://plan.it/src/2j0fef"

- @plan.legs.each_with_index do |leg, index|
  - if leg.name.present?
    .band.gray.spaced
      .container
        %strong= leg.name
  - leg.days.each_with_index do |day, index|
    .band.gray.spaced
      .container
        .three.columns.day-info-wrap
          .day-number-separator
            %span.day-info.number= "DAY #{index + 1}"
          // CALCULATE "DAY ENVIRONS" -- NEIGHBORHOOD(S) / CITIES ETC?
          - locale_list = get_locale_list(day.items)        
          - if day.items.first.place.locality.present?
            .day-info-separator
              %span.day-info.locale= "#{day.items.first.place.locality}" # NOT JUST FIRST LOCALITY?
          // CALCULATE "DAY DISTANCE" -- POINT TO POINT, INCLUDING START / RETURN

          - if day_distance = Distance.items_dist(day.items_including_prior_days_lodging)
            - if day_distance > 0
              %span.day-info.distance
                = "#{day_distance} miles"
          - lodging_list = get_lodging_list(day.items)
          - if lodging_list.length > 0
            %span.day-info.housing= "#{lodging_list.join(", ")}"
          - else
            %span.day-info.housing.none= "Find Housing"
          .day-wingtip
        .thirteen.columns.day-tab-wrap
          - day_items_sorted = day.items.sort {|a,b| a[:order] <=> b[:order]}
          - day_items_sorted.each_with_index do |item, item_index|
            = render partial: 'items/item_tab', locals: { item: item, row_index: item_index, item_index: item_index }
          = render partial: 'items/add_item_tab'

- items_to_display = @plan.bucket
- locale_list = get_locale_list(items_to_display)
.band.gray.spaced
  .container
    .three.columns.day-info-wrap
      .day-number-separator
        %span.day-info.number= "BUCKET"
      - if items_to_display.length > 0
        .day-info-separator
          - if locale_list.uniq.length > 0
            - locale_list.uniq.each do |e|
              %span.day-info.locale= "#{e}"
      .day-wingtip
    .thirteen.columns.day-tab-wrap
      / DIFFERENTIAL EDITING OPTIONS DEPENDING ON USER (OWNER OF PLAN? OWNER OF BUCKET? FRIEND [COMMENTING RIGHTS]? VIEWER [SAVE ONLY]  ?)
      - items_to_display.each_with_index do |item, item_index|
        = render partial: 'items/item_tab', locals: { item: item, row_index: item_index, item_index: item_index }
      = render partial: 'items/add_item_tab'

= render 'show/footer', { :page_type => 'plan' }