.moneyshot.onview{ style: "background-image: url('#{image_path @plan.moneyshot['url']}')" }
  = render 'show/moneyshot'
= render 'show/initheader', { :color => 'white', :start => '' }
= render 'show/persistent'
.body-container

  // OVERVIEW MAP & AUTHORNOTE
  .overview.onview
    = render partial: 'show/overview', locals: { bucket: false }

  // HIGHLIGHTS
  .highlights.onview
    = render partial: 'show/highlight', locals: { bucket: false }

  // ROTATING GALLERY?

  // DAY BY DAY DETAIL  
  #content_begins
  - @plan.legs.each_with_index do |leg, index|
    = render partial: 'legs/leg', locals: { leg: leg, index: index, bucket: false }

  - if @plan.bucket
    - @plan.bucket.each_with_index do |leg, index|
      = render partial: 'legs/leg', locals: { leg: leg, index: index, bucket: true }

  / = render partial: 'narrative/narrative', locals { leg: leg, index: index, bucket: true }

.footer
  = render partial: 'show/footer'

/ .printable-message
