#place-page#show

  = render 'show/header', { :background => 'white', :color => 'black', :start => '', :page_type => 'place' }

  .place-page-splash
    .container
      .thirteen.columns.name-essentials-wrap
        .place-page-name
          = @place.name
        .place-page-category
          - if @place.categories && @place.categories.length > 0
            = @place.categories.join(", ").titleize
          - else
            %i.fa.fa-pencil.place-show-icon
            .span.gray= "Edit Destination Type"
      .three.columns.book-been-save-wrap
        .book-been-save-bar
          .click-to.book
            %i.fa.fa-calendar.place-show-icon
          .click-to.been
            %i.fa.fa.fa-check-circle.place-show-icon
          .click-to
            %i.fa.fa-list-ol.place-show-icon
          .click-to.save
            %i.fa.fa.fa-heart.place-show-icon
    .container
      .five.columns.map-address-wrap
        .empty-map-box
          %map.map-canvas.places-single{ icon: image_path('pin_sm_red_19x22.png'), coordinates: @place.coordinate, names: [], ids: [], path: [] }
        - if @place.alt_names.any?
          .address-info-line= "(#{@place.names.drop(1).join('), (')})"
        - if @place.street_address
          .address-info-line= @place.street_address
        - if @place.second_address_array
          .address-info-line= @place.second_address_array.join(", ")
        - if @place.country
          .address-info-line= @place.country
        - if @place.website
          .address-info-line
            %a{:title => "website", :href => @place.website}
              %i.fa.fa-link.place-show-icon
              = @place.website
        - if @place.phones
          - @place.phones.each do |type, number|
            .address-info-line
              %i.fa.fa-phone.place-show-icon
              = number

      .eleven.columns.photos-wrap
        - if @place.image
          .photos-gallery{ style: "background-image: url('#{@place.image.url}')"}
          .photos-caption
            = "Photo Credit: "
            %a{:title => "original photo", :href => @place.image.source_url}= "#{@place.image.source}"
        - else
          .photos-gallery
            .add-photo
              %i.fa.fa-camera-retro
              ADD PHOTO

  .container
    .eleven.columns.reviews-and-sources-wrap
      .sources
        .reviews-and-sources-title
          Professional reviews:
        .reviews-and-sources-line
          BlackBook Lose yourself in the dizzyingly hypnotic 
        .reviews-and-sources-title
          Featured in # plans:
        .reviews-and-sources-line
          Dropdown
        .reviews-and-sources-title
          Bookmarked by # planiteers:
        .reviews-and-sources-line
          Mosaic if user image

    .five.columns.more-info-wrap
      .other-info-wrap.hours-availability-booking
        - if @place.open_now?
          .hours-availability-booking-content.open-now= "Open now (_)"

        .hours-availability-booking
          
        - if @place.hours
          .more-info-line
            Hours
        / - if @place.reservations
      .other-info-wrap.menu-cost-reservations
        .more-info-line
          %i.fa.fa-calendar.place-show-icon
          Takes Reservations
        - if @place.price_tier
          .more-info-line
            %i.fa.fa-money.place-show-icon
            @place.price_tier
        .more-info-line
          %i.fa.fa-cutlery.place-show-icon
          View Menu
        .more-info-line
          %i.fa.fa-wifi.place-show-icon
          Has WiFi

  = render 'show/footer', { :page_type => 'place' }