#show-place-page

  = render 'show/header', { :background => 'white', :color => 'black', :start => '', :page_type => 'place' }

  .place-page-splash
    .container
      .thirteen.columns.name-essentials-wrap
        .place-page-name= @place.name
        = @place.decorate.show_categories
      .three.columns.book-been-save-wrap
        .book-been-save-bar
          .click-to.book
            %i.fa.fa-calendar.place-show-icon
          .click-to.been
            %i.fa.fa.fa-check-circle.place-show-icon
          .click-to
            %i.fa.fa-list-ol.place-show-icon
          .click-to.save
            %i.fa.fa.fa-heart.place-show-icon

    .container
      .five.columns
        .map-address-wrap
          .empty-map-box
            %map.map-canvas.places-single{ coordinates: @place.coordinate }
          = @place.decorate.show_alt_names_in_parens
          = @place.decorate.show_address_linked_to_directions
          = @place.decorate.show_website
          = @place.decorate.show_phones

        - if @place.hours.present?
          .hours.other-info-wrap.hours-availability-booking
            = @place.decorate.show_open_today
            = @place.decorate.show_hours
        .other-info-wrap.menu-cost-reservations
          = @place.decorate.show_reservations
          = @place.decorate.show_price_info
          = @place.decorate.show_view_menu
          = @place.decorate.show_has_wifi

      .eleven.columns.photos-wrap
        = @place.decorate.show_photos_or_noimage

  = @place.decorate.next_image_script

  = render 'show/footer', { :page_type => 'place' }