!!!
%html{ data: { ng_app: "ngApp"} }
  %head
    %base{ href: '/' }
    %meta{charset: "utf-8"}/
    %meta{content: "NOODP", name: "ROBOTS"}/
    %meta{content: "initial-scale=1", name: "viewport"}/
    %title= browser.mobile? ? "Planit - a home for all your places" : ( content_for?(:title) ? "Planit - #{ yield(:title) }" : "Planit - Save and Share the Places You Love" )
    = render 'application/google_analytics'
    = csrf_meta_tags
    = stylesheet_link_tag :application, media: "all"
    = favicon_link_tag 'fav_ico.png'
  %body{ class: body_class, ng_controller: 'ApplicationCtrl', style: content_for(:body_style) || 'background: #dfdfdf' }
    = render "application/modals", { page_type: content_for(:page_type) || '', title: content_for(:title) || 'This Page' }
    .page-mask.everything-but-mask
    .page-mask.loading-mask= render "application/loading"
    .page-mask.loading-mask.content-only= render "application/loading"
    .page-mask.searching-mask= render "application/loading"
    #planit-wrapper
      = render "application/flashes"
      = render_header( content_for(:page_type) ) unless content_for(:page_type) == 'home'
      = render "application/morph"
      = yield
      = render_footer content_for(:page_type)
    = render "application/javascript" if render_javascript? # Unless specified, JS won't run in tests
    - (@directive_templates || []).uniq.each do |template_path|
      = render "templates/#{template_path}"